<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- ICONIFY -->
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <!-- LOCAL VUE 2.7.14 -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- LOCAL Tabulator  -->
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script>
    <!-- ExcelJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <!-- LOCAL Axios -->
    <script src="../node_modules/axios/dist/axios.js"></script>

    <style type="text/tailwindcss">
        @layer utilities {
        .content-auto {
        content-visibility: auto;
        }
    }
    </style>
    <style>
        #example-table {
            font-size: 13.5px;
            text-align: center;
        }

        .tabulator-col-title {
            text-align: center;
        }

        .tabulator-cell {
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #d6d6d6;
        }

        .tabulator-cell:first-child {
            border-left: none;
        }

        .tabulator-cell:last-child {
            border-right: none;
        }
    </style>

    <title>SingHealth</title>
</head>

<body>
    <div id="app">
        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto"
                style="width: 100%; overflow: hidden;">
                <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 100px;" alt="Flowbite Logo" />

                <div class="flex md:order-2">
                    <a href="../homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>
                    <a>
                        <iconify-icon icon="healthicons:ui-user-profile" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky"
                style="width: 100%; overflow: hidden; ">
                <ul
                    class="overflow-x-auto md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="../homepage.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Home</a>
                    </li>
                    <li>
                        <a href="../tab_pages/personal_details.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Personal
                            Details</a>
                    </li>
                    <li>
                        <a data-dropdown-toggle="dropdownDelay" data-dropdown-delay="500" data-dropdown-trigger="hover">
                            <span
                                class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                                History</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tab_pages/involvement.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="../tab_pages/grants.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="../tab_pages/publications.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="../tab_pages/presentations.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="../tab_pages/awards.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="../tab_pages/didactic_attendance.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Didactic Attendance</a>
                    </li>
                    <li>
                        <a href="../tab_pages/projects.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                    <li>
                        <a href="../tab_pages/ihi.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">IHI</a>
                    </li>
                    <li>
                        <a href="../tab_pages/duty_hour_log.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Duty
                            Hour Log</a>
                    </li>
                    <li>
                        <a href="../tab_pages/procedure_log.html"
                        class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Procedure
                            Log</a>
                    </li>
                    <li>
                        <a href="../tab_pages/case_log.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Case
                            Log</a>
                    </li>
                    <li>
                        <a href="../tab_pages/evaluations.html"
                        class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0"
                        aria-current="page">Evaluation</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>
        <!-- TABLE START -->
        <div class="md:hidden sm:visible">
            <h2 class="text-3xl font-bold  ml-8 mt-4 text-gray-700">Awards</h2>
        </div>
        <!-- filter rows -->
        <div class="flex items-center justify-between mt-6 mx-8">
            <div class="relative">
                <div class="absolute inset-y-0 left-0 right-12 bottom-2 flex items-center pl-3 pointer-events-none">
                    <iconify-icon icon="mingcute:file-import-line" style="color: white;" width="20" height="20">
                    </iconify-icon>
                </div>
                <button data-modal-target="import-modal" data-modal-toggle="import-modal" type="button"
                    class="text-white bg-orange-500 hover:bg-orange-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-8 py-2.5  mb-2">
                    <label class="ml-2">Import</label>
                </button>
            </div>
        </div>

        <!-- Import modal -->
        <div id="import-modal" tabindex="-1" aria-hidden="true"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
            <div class="relative w-full h-full max-w-md md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow ">
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-hide="import-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 class="mb-4 text-xl font-medium text-gray-900 ">Upload Excel Sheet</h3>
                        <form class="space-y-6" method="post" enctype="multipart/form-data"
                            action="http://localhost:5011/import_duty_hour">
                            <!-- input form -->
                            <input @change="validateFile" id="UploadFile"
                                class="block w-full text-md text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none"
                                type="file" name="file">
                            <!-- error -->
                            <div v-if="error_message != ''"
                                class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                                role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div>
                                    <span class="font-medium">Error!</span>
                                    {{error_message}}
                                </div>
                            </div>
                            <button type="submit" value="Submit" @click="isDisabled()" id='submit'
                                class="w-full text-white bg-orange-500 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- TABLE START -->
        <div class="overflow-x-auto sm:rounded-lg mx-8 mb-10">
            <div v-if="table_error_message!=''" class="relative bg-white rounded-lg ">
                <h1
                    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xlr">
                    {{table_error_message}}</h1>
            </div>
            <table id="example-table"></table>
        </div>

        <!-- History menu -->
        <div id="dropdownDelay" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
            <ul class="py-2 text-sm text-gray-500" aria-labelledby="dropdownDelayButton">
                <li>
                    <a href="./history_education.html" class="block px-4 py-2 hover:bg-gray-100 ">Education</a>
                </li>
                <li>
                    <a href="./history_posting.html" class="block px-4 py-2 hover:bg-gray-100 ">Posting</a>
                </li>
                <li>
                    <a href="./history_exam.html" class="block px-4 py-2 hover:bg-gray-100 ">Exam</a>
                </li>
                <li>
                    <a href="./history_trg_ext_remediation.html" class="block px-4 py-2 hover:bg-gray-100 ">Trg Ext. &
                        Remediation</a>
                </li>
            </ul>
        </div>
    </div>
</body>

<script>
    const Excel = window.ExcelJS;
    new Vue({
        el: "#app",
        data: {
            local_host_url: "http://localhost:5011/",
            currentPage: "evaluation",
            page_name: "Evaluation", // for showing when DataTable is empty
            personal_details_fields: [],
            personal_details_datas: [],
            file: "",
            MCR_name: {},
            error_message: "",
            mmYYYY: "",
            table_error_message: "",
            tableData: "",
        },
        computed: {


        },
        mounted() {
            axios.get(this.local_host_url + "/personaldetails")
                .then(response => {
                    let result = response.data.data;
                    for (each of result) {
                        if (!(each["Staff_Name"] in this.MCR_name)) {
                            this.MCR_name[each["Staff_Name"]] = each["MCR_No"];
                        }
                    }
                })

                .catch(error => {
                    console.log(error)
                });

            axios.get(this.local_host_url + this.currentPage)
                .then(response => {
                    this.tableData = response.data.data
                    var printRemoveButton = function (cell, formatterParams,
                        onRendered) { //plain text value
                        return "<a class='text-red-500 hover:text-red-700 focus:outline-none focus:ring-4 focus:ring-red-300 font-sm rounded-full text-sm px-3 py-1 text-center mb-2'>Remove</a>"
                    };
                    const local_host_url = this.local_host_url
                    var table = new Tabulator("#example-table", {
                        layout:"fitDataStretch",
                        placeholder: "No Data Available in " + this.page_name,
                        history: true,
                        pagination: "local",
                        paginationSize: 10,
                        paginationCounter: "rows",
                        movableColumns: true,    
                        data: this.tableData,
                        index: "MCR_No",
                        columns: [{
                            title: "MCR No",
                            field: "MCR_No",
                            sorter: "string",
                            headerHozAlign: "center",
                            headerFilter: true,
                            
                            headerFilterParams: {
                                autocomplete: true,
                                valuesLookup: true,
                                clearable: true,

                            },
                            minWidth: 200,
                        },
                        {
                            title: "Year of Training",
                            field: "Year_of_Training",
                            sorter: "number",
                            editor: "number",
                            editorParams: {
                                min: 0,
                                autocomplete: true,
                            },
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true
                            },
                            
                            minWidth: 150,

                        },
                        {
                            title: "Rotation Period",
                            field: "Rotation_Period",
                            sorter: "string",
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true,
                            },
                            editor: "input",
                            editorParams: {
                                allowEmpty: true,
                                listOnEmpty: true,
                                valuesLookup: true,
                            },
                            
                            minWidth: 150,
                        },
                        {
                            title: "Name of Evaluation Form",
                            field: "Name_of_Evaluation_Form",
                            sorter: "string",
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true,
                            },
                            editor: "input",
                            editorParams: {
                                allowEmpty: true,
                                listOnEmpty: true,
                                valuesLookup: true,
                            },
                            minWidth: 230,
                        },
                        {
                            title: "Question_Number",
                            field: "Question_Number",
                            sorter: "number",
                            editor: "number",
                            editorParams: {
                                min: 0,
                                autocomplete: true,
                            },
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true
                            },
                            minWidth: 150,

                        },
                        {
                            title: "Score",
                            field: "Score",
                            sorter: "number",
                            editor: "number",
                            editorParams: {
                                min: 0,
                                autocomplete: true,
                            },
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true
                            },
                            minWidth: 150,
                        },
                        {
                            title: "Evaluator",
                            field: "Evaluator",
                            sorter: "string",
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true,
                            },
                            editor: "input",
                            editorParams: {
                                allowEmpty: true,
                                listOnEmpty: true,
                                valuesLookup: true,
                            },
                            minWidth: 150,
                        },
                        {
                            title: "Service",
                            field: "Service",
                            sorter: "string",
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true,
                            },
                            editor: "input",
                            editorParams: {
                                allowEmpty: true,
                                listOnEmpty: true,
                                valuesLookup: true,
                            },
                            minWidth: 150,
                        },
                        {
                            title: "Answer",
                            field: "Answer",
                            sorter: "string",
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true,
                            },
                            editor: "input",
                            editorParams: {
                                allowEmpty: true,
                                listOnEmpty: true,
                                valuesLookup: true,
                            },
                            minWidth: 150,
                        },
                        {
                            title: "Action",
                            formatter: printRemoveButton,
                            hozAlign: "center",
                            cellClick: function (e, cell) {
                                axios.delete(local_host_url + "evaluation" + "/" + cell
                                    .getRow().getData().id)
                                    .then(function (response) {
                                        console.log(response.data);
                                        cell.getRow().delete();
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                        if (alert("Failed to remove row MCR No: " + row.getData().MCR_No)) { }
                                        else window.location.reload();
                                    });
                            },
                            minWidth: 150,
                        },
                        ],
                    });
                    // update data in the database after a cell is edited
                    table.on("cellEdited", function (row) {
                        // connect to database and execute update statement
                        let thisrow = row.getData()
                        // console.log(thisrow.id + " " + thisrow.MCR_No + "is  now " + JSON.stringify(row.getData()))
                        axios.put(local_host_url + "evaluation" + "/" + thisrow.id, {
                            "MCR_No": thisrow.MCR_No,
                            "Answer": thisrow.Answer,
                            "Evaluator": thisrow.Evaluator,
                            "Name_of_Evaluation_Form": thisrow.Name_of_Evaluation_Form,
                            "Question_Number": thisrow.Question_Number,
                            "Rotation_Period": thisrow.Rotation_Period,
                            "Score": thisrow.Score,
                            "Service": thisrow.Service,
                            "Year_of_Training": thisrow.Year_of_Training,

                        })
                            .then(response => {
                                console.log('Project ID {' + row.getData().id +
                                    '} updated.')
                            })
                            .catch(error => {
                                console.log(error)
                                if (alert("Failed to update row MCR No: " + row.getData().MCR_No)) { }
                                else window.location.reload();		
                            })
                    });
                })
                .catch(error => {
                    this.table_error_message = error.message
                    console.error(error);
                    
                });

        },
        methods: {
            importExcel(event) {
                this.validateFile();

                this.file = event.target.files ? event.target.files[0] : null;
                const wb = new Excel.Workbook();
                const reader = new FileReader()

                reader.readAsArrayBuffer(this.file)
                reader.onload = () => {
                    const buffer = reader.result;
                    wb.xlsx.load(buffer).then(workbook => {
                        //console.log(workbook, 'workbook instance')
                        workbook.eachSheet((sheet, id) => {
                            //console.log(sheet.name) //sheet name (eg: personal details)
                            sheet.eachRow((row, rowIndex) => {
                                var url = this.local_host_url + 'add_duty_hour';
                                var data = {};
                                var loggded_for_months = "";
                                if (rowIndex == 3) {
                                    this.mmYYYY = row.values[1].slice(21, 28) || "";
                                } else if (rowIndex >= 8) {
                                    // console.log(row.values[2])
                                    for (each in this.MCR_name) {
                                        let name_list = row.values[1].trim().split(',')
                                        var new_name = name_list.reverse().join(" ").trim()
                                        if (new_name == each) {
                                            data.MCR_No = this.MCR_name[each] || "";
                                        }
                                    }
                                    if (data.MCR_No == "") {
                                        this.error_message =
                                            "There is no such resident in the database";
                                    }
                                    data.Level = row.values[2] || '';
                                    data.Submitted = row.values[3] || '';
                                    data.Submitted_Proportion = row.values[4] || '';
                                    data.MMYYYY = this.mmYYYY;
                                    data.Logged_for_month = "Yes"
                                    axios.post(url, data)
                                        .then(response => {
                                            console.log(response.data)
                                            this.mmYYYY = "";
                                        })
                                        .catch(error => {
                                            this.error = error.response.data
                                                .message
                                        });
                                }
                            })
                        })
                    })
                }
            },
            validateFile() {
                if (document.getElementById("UploadFile").files.length == 1) {
                    this.error_message = "";
                    document.getElementById('submit').disabled = false;

                }
            },
            isDisabled() {
                console.log('hi')
                // evaluate whatever you need to determine disabled here...
                console.log(document.getElementById("UploadFile").files.length)
                if (document.getElementById("UploadFile").files.length == 0) {
                    this.error_message = "No Files Selected";
                    document.getElementById('submit').disabled = true;
                    return true
                }
                else {
                    this.error_message = ""
                    return false
                }
            }

        }
    });
</script>

</html>