<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../css/tailwind.css">
    <!-- ICONIFY -->
    <script src="../css/iconify-icon.min.js"></script>
    <!-- LOCAL VUE 2.7.14 -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- LOCAL Tabulator  -->
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script>
    <!-- ExcelJS -->
    <script src="../node_modules/exceljs/dist/exceljs.min.js"></script>
    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <!-- LOCAL Axios -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>

    <style type="text/tailwindcss">
        @layer utilities {
        .content-auto {
        content-visibility: auto;
        }
    }
    </style>
    <style>
        #example-table {
            font-size: 13.5px;
            text-align: center;
        }

        .tabulator-col-title {
            text-align: center;
        }

        .tabulator-cell {
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #d6d6d6;
        }

        .tabulator-cell:first-child {
            border-left: none;
        }

        .tabulator-cell:last-child {
            border-right: none;
        }
    </style>

    <title>SingHealth</title>
</head>

<body>
    <div id="app">
        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto"
                style="width: 100%; overflow: hidden;">
                <a href="../homepage.html">
                    <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                        style="height: 80px; width: 100px;" alt="Flowbite Logo" />
                </a>

                <div class="flex md:order-2">
                    <a href="../homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>


                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class=" items-center justify-between hidden w-full md:flex md:width-auto  md:order-1"
                id="navbar-sticky" style="width: 100%; overflow: hidden;">
                <ul
                    class="overflow-x-auto md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="../homepage.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Home</a>
                    </li>
                    <li>
                        <a href="../tab_pages/personal_details.html"
                            class="lg:text-sm md:text-sm ml-5 mr-3 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Personal Details</a>
                    </li>
                    <li>
                        <a data-dropdown-toggle="dropdownDelay" data-dropdown-delay="500" data-dropdown-trigger="click">
                            <div class = "md:flex">
                                <span
                                class="lg:text-sm md:text-sm ml-5 mr-1 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0">
                                History</span>
                                <iconify-icon icon="gridicons:dropdown" width = "20px" class = "hidden md:flex mr-1"></iconify-icon>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../tab_pages/involvement.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="../tab_pages/grants.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="../tab_pages/publications.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="../tab_pages/presentations.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="../tab_pages/awards.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="../tab_pages/didactic_attendance.html"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Didactic Attendance</a>
                    </li>
                    <li>
                        <a href="../tab_pages/projects.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                    <li>
                        <a href="../tab_pages/ihi.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">IHI</a>
                    </li>
                    <li>
                        <a href="../tab_pages/duty_hour_log.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Duty
                            Hour Log</a>
                    </li>
                    <li>
                        <a href="../tab_pages/procedure_log.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Procedure
                            Log</a>
                    </li>
                    <li>
                        <a href="../tab_pages/case_log.html"
                            class="lg:text-sm md:text-sm  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Case
                            Log</a>
                    </li>
                    <li>
                        <a href="../tab_pages/evaluations.html"
                            class="lg:text-sm md:text-sm ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Evaluation</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>

        <!-- TABLE START -->
        <div class="md:hidden sm:visible">
            <h2 class="text-3xl font-bold  ml-8 mt-4 text-gray-700">Trg Ext Remdiation History</h2>
        </div>

        <div class="overflow-x-auto sm:rounded-lg mx-8 mb-10 md:mt-4 sm:mt-2">
            <div v-if="table_error_message!=''" class="relative bg-white rounded-lg ">
                <h1
                    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xlr">
                    {{table_error_message}}</h1>
            </div>
            <table v-if="table_error_message==''" id="example-table"></table>
        </div>

        <!-- History menu -->
        <div id="dropdownDelay"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow sm:w-full md:w-44">
            <ul class="py-2 text-sm text-gray-500" aria-labelledby="dropdownDelayButton">
                <li>
                    <a href="./history_education.html" class="block px-4 py-2 hover:bg-gray-100">Education</a>
                </li>
                <li>
                    <a href="./history_posting.html" class="block px-4 py-2 hover:bg-gray-100 ">Posting</a>
                </li>
                <li>
                    <a href="./history_exam.html" class="block px-4 py-2 hover:bg-gray-100 ">Exam</a>
                </li>
                <li>
                    <a href="./history_trg_ext_remediation.html"
                        class="block px-4 py-2 hover:bg-gray-100 bg-orange-200">Trg Ext. &
                        Remediation</a>
                </li>
            </ul>
        </div>
    </div>
</body>

<script>
    const Excel = window.ExcelJS;
    new Vue({
        el: "#app",
        data: {
            local_host_url: "http://localhost:5011/",
            page_name: "History TRG EXT Rem", // for showing when DataTable is empty
            personal_details_fields: [],
            personal_details_datas: [],
            file: "",
            MCR_name: {},
            error_message: "",
            mmYYYY: "",
            table_error_message: "",
            duty_hour_logs: "",
            file_error: ""

        },
        computed: {


        },
        mounted() {
            axios.get(this.local_host_url + "/personaldetail")
                .then(response => {
                    let result = response.data.data;
                    for (each of result) {
                        if (!(each["Staff_Name"] in this.MCR_name)) {
                            this.MCR_name[each["Staff_Name"]] = each["MCR_No"];
                        }
                    }
                })

                .catch(error => {
                    console.log(error)
                });

            axios.get(this.local_host_url + 'history_trg')
                .then(response => {
                    this.duty_hour_logs = response.data.data
                    var printRemoveButton = function (cell, formatterParams,
                        onRendered) { //plain text value
                        //return "<v-btn type='button' class='text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-xs rounded-full text-xs px-5 py-1 text-center mx-3 mb-2'>Remove</v-btn>";
                        return "<a class='text-red-500 hover:text-red-700 focus:outline-none focus:ring-4 focus:ring-red-300 font-sm rounded-full text-sm px-3 py-1 text-center mb-2'>Remove</a>"
                    };
                    const local_host_url = this.local_host_url
                    var table = new Tabulator("#example-table", {
                        layout: "fitDataStretch",
                        placeholder: "No Data Available in " + this.page_name,
                        history: true,
                        pagination: "local",
                        paginationSize: 10,
                        paginationCounter: "rows",
                        movableColumns: true,
                        data: response.data.data,
                        index: "MCR_No",
                        columns: [{
                            title: "MCR No",
                            field: "MCR_No",
                            sorter: "string",
                            headerHozAlign: "center",
                            headerFilter: true,

                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true,

                            },
                            
                        },

                        {
                            title: "LOAPIP",
                            field: "LOAPIP",
                            sorter: "string",
                            editor: "input",
                            editorParams: {
                                allowEmpty: true,
                                listOnEmpty: true,
                                valuesLookup: true,
                                maskAutoFill: true,
                            },
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true
                            },
                            
                        },
                        {
                            title: "Start Date",
                            field: "StartDate",
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true,
                            },
                            editor: "input",
                            editorParams: {
                                allowEmpty: true,
                                listOnEmpty: true,
                                valuesLookup: true,
                                maskAutoFill: true,
                            },

                        },
                        {
                            title: "End Date",
                            field: "EndDate",
                            headerFilter: true,
                            headerFilterParams: {
                                valuesLookup: true,
                                clearable: true,
                            },
                            editor: "input",
                            editorParams: {
                                allowEmpty: true,
                                listOnEmpty: true,
                                valuesLookup: true,
                                maskAutoFill: true,
                            },

                        },
                        {
                            title: "Action",
                            formatter: printRemoveButton,
                            hozAlign: "center",
                            cellClick: function (e, cell) {
                                axios.delete(local_host_url + 'history_trg/' +
                                    cell
                                        .getRow().getData().id)
                                    .then(function (response) {
                                        console.log(response.data);
                                        cell.getRow().delete();
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                        if (alert("Failed to remove row MCR No: " + row.getData().MCR_No)) { }
                                        else window.location.reload();
                                    });
                            },
                        },
                        ],
                    });
                    // update data in the database after a cell is edited
                    table.on("cellEdited", function (row) {
                        // connect to database and execute update statement
                        let thisrow = row.getData()
                        // console.log(thisrow.id + " " + thisrow.MCR_No + "is  now " + JSON.stringify(row.getData()))
                        axios.put(local_host_url + "history_trg/" + thisrow.id, {
                            "MCR_No": thisrow.MCR_No,
                            "LOAPIP": thisrow.LOAPIP,
                            "StartDate": thisrow.StartDate,
                            "EndDate": thisrow.EndDate,
                        })
                            .then(response => {
                                console.log('History Training ID {' + row.getData().id +
                                    '} updated.')
                            })
                            .catch(error => {
                                console.log(error)
                                if (alert("Failed to update row MCR No: " + row.getData().MCR_No)) { }
                                else window.location.reload();	
                            })
                    });
                })
                .catch(error => {
                    this.table_error_message = error.message
                    console.error(error);
                });
        },
    });
</script>
<script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
</html>