<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../css/tailwind.css">
    <!-- ICONIFY -->
    <script src="../css/iconify-icon.min.js"></script>
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script> -->
    <!-- LOCAL VUE 2.7.14 -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- LOCAL Tabulator  -->
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script>
    <!-- ExcelJS -->
    <script src="../node_modules/exceljs/dist/exceljs.min.js"></script>
    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <!-- LOCAL Axios -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <!-- Local ChartJS -->
    <!-- <script src="../node_modules/chart.js/dist/chart.js"></script> -->
    <script src="../node_modules/Chart.js/dist/Chart.min.js"></script>
    <!-- Vue-Chartjs -->
    <script src="../node_modules/vue-chartjs/dist/vue-chartjs.js"></script>
    <!-- Vuetify -->
    <script src="../node_modules/vuetify/dist/vuetify.min.js"></script>

    <title>SingHealth</title>
</head>

<body >

    <div id="main-container">

        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto" style="width: 100%; overflow: hidden;">
                <a href="../homepage.html">
                    <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                        style="height: 80px; width: 100px;" alt="Flowbite Logo" />
                </a>

                <div class="flex md:order-2">
                    <a href="../homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>


                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky" style="width: 100%; overflow: hidden;">
                <ul class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0 dark:text-white"
                            aria-current="page">Resident Profiles</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            History</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>

        <!-- Graph Goes Here -->
        <div class="container mx-auto pt-4" >

            <div id="app">
                <v-row>

                    <label  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 pt-3" for="grid-first-name">
                        Academic Year (AY):
                    </label>
                    <input  v-model="year" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Input Year Here">

                    <label for="hs-select-label" class="block text-sm font-medium mb-2 dark:text-black">Programme for Procedure Logs:</label>
                    <select v-model="programme" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" >
                      <option v-for="programme in programmes2">{{programme}}</option>
                    </select>
                    
                    <button  @click="getAllData()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                        Get Overview Info
                    </button> 
                    <button  @click="reset()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                        Reset
                    </button> 
                    <br>
                    <br>

                </v-row>
                <v-row dense>
                  <v-col cols="sm">
                    <v-card  class="pa-2" outlined tile raised>
                        <div style="display:flex;">
                            <div  style="width:25%;height:30vh" v-if="didacticLoaded==false">LOADING DIDACTIC ATTENDANCE DATA...</div>
                            <my-bar-chart1 style="width:25%;height:30vh" v-if="didacticLoaded" :bar-data="didacticChartConfig" :chart-options="didacticOptions"></my-bar-chart1>

                            <div  style="width:25%;height:30vh" v-if="scholarlyLoaded==false">LOADING SCHOLARLY ACTIVITIES DATA...</div>
                            <my-donut-chart  style="width:25%;height:30vh" v-if="scholarlyLoaded" :donut-data="scholarlyChartConfig" :chart-options="scholarlyOptions"></my-donut-chart>

                            <div  style="width:25%;height:30vh" v-if="ihiLoaded==false">LOADING IHI DATA...</div>
                            <my-donut-chart  style="width:25%;height:30vh" v-if="ihiLoaded" :donut-data="IHIchartConfig" :chart-options="IHIoptions"></my-donut-chart>

                            <div  style="width:25%;height:30vh" v-if="projectsLoaded==false">LOADING PROJECT DATA...</div>
                            <my-donut-chart style="width:25%;height:30vh" v-if="projectsLoaded" :donut-data="projectChartConfig" :chart-options="projectOptions"></my-donut-chart>
                            
                        </div>
                        <div style="display:flex;">
                            <div  style="width:25%;height:30vh" v-if="dutyLoaded==false">LOADING DUTY HOUR LOGS...</div>
                            <my-line-chart style="width:100%;height:30vh" v-if="dutyLoaded" :line-data="dutyChartConfig" :chart-options="dutyHourOptions"></my-line-chart>

                            <div  style="width:25%;height:30vh" v-if="caseLoaded==false">LOADING CASE LOGS DATA...</div>
                            <my-donut-chart  style="width:25%;height:30vh" v-if="caseLoaded" :donut-data="caseChartConfig" :chart-options="caseOptions"></my-donut-chart>
                        </div>
                        <div style="display:flex;">
                            <div  style="width:25%;height:30vh" v-if="procedureLoaded==false">LOADING PROCEDURE LOGS DATA...</div>
                            <my-bar-chart style="width:100%;" v-if="procedureLoaded" :bar-data="procedureChartConfig" :chart-options="procedureOptions"></my-bar-chart>

                        </div>
                      <!-- <my-line-chart v-if="loaded" :line-data="dutyChartConfig" :chart-options="dutyHourOptions"></my-line-chart>
                      <my-donut-chart v-if="loaded" :donut-data="IHIchartConfig" :chart-options="IHIoptions"></my-donut-chart>
                      <my-donut-chart v-if="loaded" :donut-data="scholarlyChartConfig" :chart-options="scholarlyOptions"></my-donut-chart>
                      <my-donut-chart v-if="loaded" :donut-data="projectChartConfig" :chart-options="projectOptions"></my-donut-chart>
                      <my-bar-chart v-if="loaded" :bar-data="didacticChartConfig" :chart-options="didacticOptions"></my-bar-chart> -->

                    </v-card>
                  </v-col>
                </v-row>
                <v-row v-if="showNonCompliantResidentsInput">
                    <label for="hs-select-label" class="block text-sm font-medium mb-2 dark:text-black">Non-Compliant Residents For:</label>
                    <select v-model="nonCompliantResident" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" >
                      <option v-for="chart in charts">{{chart}}</option>
                    </select>

                    <button  @click="getNonCompliantTable()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                        Get Non-Compliant Residents
                    </button> 
                    <br>
                    <br>
                    
                    <!-- table to show noncompliance for didactic attendance -->
                    <div v-if="nonCompliantResidentDidacticArray.length > 0 && showDidacticTable">
                        <table class="table-auto">
                            <thead>
                                <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    >Non-Compliant Residents for Didactic Attendance</p>
                                <tr>
                                    <th class="border px-4 py-2 bg-orange-600">Index</th>
                                    <th class="border px-4 py-2 bg-orange-600">MCR No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(resident, index) in nonCompliantResidentDidacticArray" :key="resident.MCR_No">
                                    <td class="border px-4 py-2 bg-gray-300">{{ index + 1 }}</td>
                                    <td class="border px-4 py-2 bg-gray-300">{{ resident.MCR_No }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                    </div>

                    <!-- table to show noncompliance for IHI-->
                    <div v-if="nonCompliantResidentIHIArray.length > 0 && showIHITable">
                        <table class="table-auto">
                            <thead>
                                <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    >Non-Compliant Residents for IHI</p>
                                <tr>
                                    <th class="border px-4 py-2 bg-orange-600">Index</th>
                                    <th class="border px-4 py-2 bg-orange-600">MCR No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(resident, index) in nonCompliantResidentIHIArray" :key="resident.MCR_No">
                                    <td class="border px-4 py-2 bg-gray-300">{{ index + 1 }}</td>
                                    <td class="border px-4 py-2 bg-gray-300">{{ resident.MCR_No }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                    </div>

                    <!-- table to show noncompliance for Projects-->
                    <div v-if="nonCompliantResidentProjectsArray.length > 0 && showProjectsTable">
                        <table class="table-auto">
                            <thead>
                                <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    >Non-Compliant Residents for Projects</p>
                                <tr>
                                    <th class="border px-4 py-2 bg-orange-600">Index</th>
                                    <th class="border px-4 py-2 bg-orange-600">MCR No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(resident, index) in nonCompliantResidentProjectsArray" :key="resident.MCR_No">
                                    <td class="border px-4 py-2 bg-gray-300">{{ index + 1 }}</td>
                                    <td class="border px-4 py-2 bg-gray-300">{{ resident.MCR_No }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                    </div>     

                    <!-- table to show noncompliance for Procedure Logs-->
                    <div v-if="nonCompliantResidentProcedureLogsArray.length > 0 && showProcedureLogsTable">
                        <table class="table-auto">
                            <thead>
                                <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    >Non-Compliant Residents for Procedure Logs</p>
                                <tr>
                                    <th class="border px-4 py-2 bg-orange-600">Index</th>
                                    <th class="border px-4 py-2 bg-orange-600">MCR No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(resident, index) in nonCompliantResidentProcedureLogsArray[0]" :key="resident.MCR_No">
                                    <td class="border px-4 py-2 bg-gray-300">{{ index + 1 }}</td>
                                    <td class="border px-4 py-2 bg-gray-300">{{ resident.MCR_No }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                    </div> 
                    
                    <!-- table to show noncompliance for Duty Logs -->
                    <!-- table to show noncompliance for Scholarly Activities -->
                    <!-- table to show noncompliance for Case Logs -->
                </v-row>
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>


    <!--- JAVASCRIPT -->
    <script>

        Vue.component('my-line-chart', {
            extends: VueChartJs.Line,
            props: ['lineData', 'chartOptions'],
            mounted() {
            this.renderChart(this.lineData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })
        Vue.component('my-donut-chart', {
            extends: VueChartJs.Doughnut,
            props: ['donutData', 'chartOptions'],
            mounted() {
            this.renderChart(this.donutData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })
        Vue.component('my-bar-chart1', {
            extends: VueChartJs.Bar,
            props: ['barData', 'chartOptions'],
            mounted() {
            this.renderChart(this.barData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })
        Vue.component('my-bar-chart', {
            extends: VueChartJs.HorizontalBar,
            props: ['barData', 'chartOptions'],
            mounted() {
            this.renderChart(this.barData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })
        
        
    </script>
    <script src="overviewDashboard.js"></script>
</body>

</html>