<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../css/tailwind.css">
    <!-- ICONIFY -->
    <script src="../css/iconify-icon.min.js"></script>
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script> -->
    <!-- LOCAL VUE 2.7.14 -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- LOCAL Tabulator  -->
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script>
    <!-- ExcelJS -->
    <script src="../node_modules/exceljs/dist/exceljs.min.js"></script>
    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <!-- LOCAL Axios -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <!-- Local ChartJS -->
    <script src="../node_modules/chart.js/dist/chart.js"></script>
    <script src="../chartjs_offline/chartjs-plugin-datasource.js"></script>

    <!-- Links -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/xlsx@0.14.3/dist/xlsx.full.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script> -->

    <!-- VUE 3 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Testing Mon Method -->
    <script src="https://cdn.jsdelivr.net/npm/babel-regenerator-runtime@6.5.0/runtime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.10/dist/vuetify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.4.0/chartjs-plugin-annotation.min.js"></script> -->

    <title>SingHealth</title>
</head>

<body>


    

    <div id="main-container">


    <!-- <div>
        <button @click="count++">Add 1</button>
        <p>Count is: {{ count }}</p>
        <button 
        class='text-red-500 hover:text-red-700 focus:outline-none focus:ring-4 focus:ring-red-300 font-sm rounded-full text-sm px-3 py-1 text-center mb-2'>one</button>
        <canvas id="mycanvas"></canvas>
    </div> -->

        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto" style="width: 100%; overflow: hidden;">
                <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 100px;" alt="Flowbite Logo" />

                <div class="flex md:order-2">
                    <a href="homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40" height="40"></iconify-icon>
                    </a>
                    <a>
                        <iconify-icon icon="healthicons:ui-user-profile" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky" style="width: 100%; overflow: hidden;">
                <ul class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0 dark:text-white"
                            aria-current="page">Resident Profiles</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            History</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>

        <!-- Graph Goes Here -->
        <div class="container mx-auto pt-4" >

            <div id="app">



                <div>
                    <!-- <button @click="updateChart"
                    class='text-red-500 hover:text-red-700 focus:outline-none focus:ring-4 ring-2 ring-red-100 focus:ring-red-300 font-sm rounded-full text-sm px-3 py-1 text-center mb-2'>Comment or Score</button> -->
                        <!-- <div>selection : {{progSelected}}, {{evalData}}</div> -->
                    <div class="xl:w-96">
                        <select @change="onChangeProgramme($event)"
                        class=" font-sm mb-3 xl:w-96 rounded-full text-sm px-3 py-1 text-center" v-model="progSelected">
                          <option v-for="prog in programmes" :value="prog">{{prog}}</option>
                        </select>
                      </div>
                    <div style="display: flex;">
                        <div style="width: 33%;">
                            <canvas id="mycanvas1"></canvas>
                        </div>

                        <div style="width: 33%;">
                            <canvas id="mycanvas2"></canvas>
                        </div>

                        <div style="width: 33%;">
                            <canvas id="mycanvas3"></canvas>
                        </div>

                    </div>

                    <div style="display: flex; width: 70%; align-content: center; margin-left: 15%; margin-top: 8%;">
                        <div style="width: 45%;">
                            <canvas id="mycanvas4"></canvas>
                        </div>

                        <div style="width: 45%;">
                            <canvas id="mycanvas5"></canvas>
                        </div>


                        

                    </div>
                    
                </div>



                <label  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 pt-3" for="grid-first-name">
                    Year:
                </label>
                <input  v-model="year" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Input Year Here">
                <button  @click="getDutyHourLogData()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                    Get Residents' Info
                </button> 
                <button  @click="reset()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                    Reset
                </button> 

                <v-row dense>
                  <v-col cols="sm">
                    <v-card class="pa-2" outlined tile raised>
                      <my-line-chart v-if="loaded" :line-data="ChartConfig" :chart-options="options"></my-line-chart>
                    </v-card>
                  </v-col>
                </v-row>
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>


    <!--- JAVASCRIPT -->
    <script>

        // Vue.component('my-line-chart', {
        //     extends: VueChartJs.Line,
        //     props: ['lineData', 'chartOptions'],
        //     mounted() {
        //     this.renderChart(this.lineData, this.chartOptions);
        //     },
        // }, {
        //     responsive: true,
        //     maintainAspectRatio: false
        // })

        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data() {
            return {
                programmes: [1,2,3,4, 5],
                evalData: [],
                progSelected: null,
                commentsOrScore: true,
                ctx_live: null,
                myChart: null,
                ctx_live2: null,
                myChart2: null,
                ctx_live3: null,
                myChart3: null,
                ctx_live4: null,
                myChart4: null,
                ctx_live5: null,
                myChart5: null,
                year: null,
                count: 0,
                // second_step: false,
                mcr_no: "",
                loaded: false,
                ChartConfig: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [
                    {
                    data: [],
                    fill: false,
                    // backgroundColor: ['#ff6b00'],
                    borderColor: 'rgba(136,136,136,0.5)',
                    label: "Compliant"
                    }
                ]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Duty Hours Logs (Overview)'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                    display: true,
                    categoryPercentage: 0.5,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                    }],
                    yAxes: [{
                    ticks : {
                    max : 1,    
                    min : 0
                    },
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '% Residents Submitted'
                    }
                    }]
                }
                },
            }
            },
            mounted: async function () {
                this.loaded = false
                // this.getSpecificDidacticAttendanceData();


                // "http://127.0.0.1:5011/evaluation_overview"
                await this.getEvalOverview()

                this.fetchChart1();
                this.fetchChart2();
                this.fetchChart3();
                this.fetchChart4();
                this.fetchChart5();

                    

                    
                },
            methods: {
                getEvalOverview: async function () {
                    this.status = "getting data...";

                    specificURL = "http://127.0.0.1:5011/evaluation_overview"
                    data = []
                    await axios.get(specificURL).then((response) => {
                    console.log("This is responseData")
                    console.log(response.data)
                    data = response.data.data

                    // this.getChartData(response.data);
                    // this.loaded = true
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                    this.evalData = data
                    },
                onChangeProgramme(event) {
            console.log(event.target.value, "do sth")
        },
                fetchChart1: function(){
                    // create initial empty chart
            var ctx_live = document.getElementById("mycanvas1");
            this.ctx_live = ctx_live;

            data_360 = 10

            if (this.evalData.hasOwnProperty('360')){
                data_360 = this.evalData['360']
            }else{
                data_360 = 100
            }
            var myChart = new Chart(ctx_live, {
            type: 'doughnut',
            data: {
            datasets: [{
                label: 'My First Dataset',
                data: [data_360, 100-data_360],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                ],
                hoverOffset: 4
            }]
            },
            options: {
                responsive: true,
                title: {
                display: true,
                text: "Latest Sentiment Analysis for Evaluations over Time",
                },
                legend: {
                display: false
                },
                scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true,
                    }
                }]
                },
                plugins: {
            title: {
                display: true,
                text: '360 Form',
                padding: 20,
                font: {
                        size: 20
                    },
                    color: "black"
            },
            subtitle: {
                display: true,
                text: data_360.toFixed(2).toString() + '%',
                font: {
                        size: 20
                    },
            },
                annotation: {
                annotations: {
                    line1: {
                    type: 'line',
                    yMin: 5,
                    yMax: 5,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 2,
                    }
                }
                }
            }
            }
            });

            this.myChart = myChart;
                },
                fetchChart2: function(){
                    // create initial empty chart
                    var ctx_live2 = document.getElementById("mycanvas2");
            this.ctx_live2 = ctx_live2;

            data_c1 = 10
            if (this.evalData.hasOwnProperty('C1')){
                data_c1 = this.evalData['C1']
            }else{
                data_c1 = 100
            }

            var myChart2 = new Chart(ctx_live2, {
            type: 'doughnut',
            data: {
            datasets: [{
                label: 'My First Dataset',
                data: [data_c1, 100 - data_c1],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                // 'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
            },
            options: {
                responsive: true,
                title: {
                display: true,
                text: "Latest Sentiment Analysis for Evaluations over Time",
                },
                legend: {
                display: false
                },
                scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true,
                    }
                }]
                },
                plugins: {
                    title: {
                display: true,
                text: 'C1 Form',
                padding: 20,
                font: {
                        size: 20
                    },
                    color: "black"
            },
            subtitle: {
                display: true,
                text: data_c1.toFixed(2).toString() + '%',
                font: {
                        size: 20
                    },
            },
                annotation: {
                annotations: {
                    line1: {
                    type: 'line',
                    yMin: 5,
                    yMax: 5,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 2,
                    }
                }
                }
            }
            }
            });

            this.myChart2 = myChart2;
                },

                fetchChart3: function(){
                    // create initial empty chart
            var ctx_live3 = document.getElementById("mycanvas3");
            this.ctx_live3 = ctx_live3;

            data_ref = 10
            if (this.evalData.hasOwnProperty('REF')){
                data_ref = this.evalData['REF']
            }else{
                data_ref = 100
            }


            var myChart3 = new Chart(ctx_live3, {
            type: 'doughnut',
            data: {
            datasets: [{
                label: 'My First Dataset',
                data: [data_ref, 100-data_ref],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
            },
            options: {
                responsive: true,
                title: {
                display: true,
                text: "Latest Sentiment Analysis for Evaluations over Time",
                },
                legend: {
                display: false
                },
                scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true,
                    }
                }]
                },
                plugins: {
                    title: {
                display: true,
                text: 'Ref Form',
                padding: 20,
                font: {
                        size: 20
                    },
                    color: "black"
            },
            subtitle: {
                display: true,
                text: data_ref.toFixed(2).toString() + '%',
                font: {
                        size: 20
                    },
            },

                annotation: {
                annotations: {
                    line1: {
                    type: 'line',
                    yMin: 5,
                    yMax: 5,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 2,
                    }
                }
                }
            }
            }
            });

            this.myChart3 = myChart3;
                },

                fetchChart4: function(){
                    // create initial empty chart
            var ctx_live4 = document.getElementById("mycanvas4");
            this.ctx_live4 = ctx_live4;

            data_mini = 10
            if (this.evalData.hasOwnProperty('Mini-CEX')){
                data_mini = this.evalData['Mini-CEX']
            }else{
                data_mini = 100
            }

            var myChart4 = new Chart(ctx_live4, {
            type: 'doughnut',
            data: {
            datasets: [{
                label: 'My First Dataset',
                data: [data_mini, 100-data_mini],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
            },
            options: {
                responsive: true,
                title: {
                display: true,
                text: "Latest Sentiment Analysis for Evaluations over Time",
                },
                legend: {
                display: false
                },
                scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true,
                    }
                }]
                },
                plugins: {
                    title: {
                display: true,
                text: 'Mini-CEX Form',
                padding: 20,
                font: {
                        size: 20
                    },
                    color: "black"
            },
            subtitle: {
                display: true,
                text: data_mini.toFixed(2).toString() + '%',
                font: {
                        size: 20
                    },
            },

                annotation: {
                annotations: {
                    line1: {
                    type: 'line',
                    yMin: 5,
                    yMax: 5,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 2,
                    }
                }
                }
            }
            }
            });

            this.myChart4 = myChart4;
                },

                fetchChart5: function(){
                    // create initial empty chart
            var ctx_live5 = document.getElementById("mycanvas5");
            this.ctx_live5 = ctx_live5;

            data_spam = 10
            if (this.evalData.hasOwnProperty('SPAM')){
                data_spam = this.evalData['SPAM']
            }else{
                data_spam = 100
            }

            var myChart5 = new Chart(ctx_live5, {
            type: 'doughnut',
            data: {
            datasets: [{
                label: 'My First Dataset',
                data: [data_spam, 100-data_spam],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
            },
            options: {
                responsive: true,
                title: {
                display: true,
                text: "Latest Sentiment Analysis for Evaluations over Time",
                },
                legend: {
                display: false
                },
                scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true,
                    }
                }]
                },
                plugins: {

                    title: {
                display: true,
                text: 'SPAM Form',
                padding: 20,
                font: {
                        size: 20
                    },
                    color: "black"
            },
            subtitle: {
                display: true,
                text: data_spam.toFixed(2).toString() + '%',
                font: {
                        size: 20
                    },
            },


                annotation: {
                annotations: {
                    line1: {
                    type: 'line',
                    yMin: 5,
                    yMax: 5,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 2,
                    }
                }
                }
            }
            }
            });

            this.myChart5 = myChart5;
                },




                addOne: function (){
                    this.count++;
                },
                updateChart: function (){
                    console.log("updating chart here!")
                    // this.getData();
                    if (this.commentsOrScore == true){
                        this.getData();
                        this.commentsOrScore = false
                    }else{
                        this.getData2();
                        this.commentsOrScore = true
                    }
                },
                getData: function() {
                    myChart = this.myChart;
                    $.ajax({
                        // url: 'https://jsonplaceholder.typicode.com/posts/' + postId + '/comments',
                        url: "http://127.0.0.1:5011/evaluation2",
                        success: function(data) {
                        // process your data to pull out what you plan to use to update the chart
                        // e.g. new label and a new data point
                        
                            console.log("thattt")
                            data = {"data":[{"id":2.5,"month":3,"score_num":11.75},
                            {"id":2.5,"month":4,"score_num":9.75},
                            {"id":2.5,"month":5,"score_num":8.75}] }

                            data2 = {"data":[{"id":2.5,"month":2,"score_num":15.75},
                            {"id":2.5,"month":7,"score_num":13.75},
                            {"id":2.5,"month":9,"score_num":16.75}] }
                            commentsOrScore = true;
                        
                        console.log("dataaa: ", data.data)

                        Xs = []
                        Ys = []
                        for (i of data.data){
                            Xs.push(i["month"])
                            Ys.push(i["score_num"])
                        }
                        myChart.data.labels = Xs
                        myChart.data.datasets[0].data = Ys

                        Xs = []
                        Ys = []
                        for (i of data2.data){
                            Xs.push(i["month"])
                            Ys.push(i["score_num"])
                        }
                        myChart.data.labels = Xs
                        myChart.data.datasets[1].data = Ys

                        // re-render the chart
                        myChart.update();
                        }
                    });
                    },
                    getData2: function() {
                    myChart = this.myChart;
                    $.ajax({
                        // url: 'https://jsonplaceholder.typicode.com/posts/' + postId + '/comments',
                        url: "http://127.0.0.1:5011/evaluation2",
                        success: function(data) {
                        // process your data to pull out what you plan to use to update the chart
                        // e.g. new label and a new data point
                            console.log("thisss")
                            data = {"data":[{"id":2.5,"month":1,"score_num":6.75},
                            {"id":2.5,"month":3,"score_num":7.75},
                            {"id":2.5,"month":2,"score_num":4.75}] }

                            data2 = {"data":[{"id":2.5,"month":3,"score_num":11.75},
                            {"id":2.5,"month":4,"score_num":9.75},
                            {"id":2.5,"month":5,"score_num":8.75}] }

                        Xs = []
                        Ys = []
                        for (i of data.data){
                            Xs.push(i["month"])
                            Ys.push(i["score_num"])
                        }
                        myChart.data.labels = Xs
                        myChart.data.datasets[0].data = Ys


                        Xs = []
                        Ys = []
                        for (i of data2.data){
                            Xs.push(i["month"])
                            Ys.push(i["score_num"])
                        }
                        myChart.data.labels = Xs
                        myChart.data.datasets[1].data = Ys
                        // re-render the chart
                        myChart.update();
                        }
                    });
                    },
                reset: function (){
                    this.ChartConfig.datasets[0].data.length = 0
                    this.loaded = false
                    },
                
                // activateSecondStep: function () {
                //     this.second_step = true;
                // }
            }
        });


// // used for example purposes
// function getRandomIntInclusive(min, max) {
//   min = Math.ceil(min);
//   max = Math.floor(max);
//   return Math.floor(Math.random() * (max - min + 1)) + min;
// }


// function minValue(ctx) {
//   const dataset = ctx.chart.data.datasets[0];
//   const min = dataset.data.reduce((max, point) => Math.min(point, max), Infinity);
//   return isFinite(min) ? min : 0;
// }

// function maxValue(ctx) {
//   const datasets = ctx.chart.data.datasets;
//   const count = datasets[0].data.length;
//   let max = 0;
//   for (let i = 0; i < count; i++) {
//     let sum = 0;
//     for (const dataset of datasets) {
//       sum += dataset.data[i];
//     }
//     max = Math.max(max, sum);
//   }
//   return max;
// }

// const annotation1 = {
//   type: 'line',
//   borderColor: 'black',
//   borderWidth: 3,
//   label: {
//     enabled: true,
//     backgroundColor: 'black',
//     borderColor: 'black',
//     borderRadius: 10,
//     borderWidth: 2,
//     content: (ctx) => 'Lower bound: ' + minValue(ctx).toFixed(3),
//     rotation: 'auto'
//   },
//   scaleID: 'y',
//   value: minValue
// };

//         // create initial empty chart
// var ctx_live = document.getElementById("mycanvas");
// var myChart = new Chart(ctx_live, {
//   type: 'line',
//   data: {
//     labels: [],
//     datasets: [{
//       data: [],
//       borderWidth: 2,
//       borderColor:'#00c0ef',
//       label: 'Temperature',
//       fill: {target: 'origin',
//               },
//     backgroundColor: [
//       'rgba(0, 0, 0, 0.5)',
//       'rgba(black, 0.5)',
//     ],

//     annotation: {
//     annotations: [{
//         type: 'line',
//         mode: 'horizontal',
//         scaleID: 'y-axis-0',
//         value: '5',
//         borderColor: 'tomato',
//         borderWidth: 1
//     }],
//     drawTime: "afterDraw" // (default)
// }
//     }]
//   },
//   options: {
//     responsive: true,
//     title: {
//       display: true,
//       text: "Chart.js - Dynamically Update Chart Via Ajax Requests",
//     },
//     legend: {
//       display: false
//     },
//     scales: {
//       yAxes: [{
//         ticks: {
//           beginAtZero: true,
//         }
//       }]
//     }
//   },
//   plugins: {
//       annotation: {
//         annotations: {
//           annotation1,
//         //   annotation2
//         }
//       }
//     }
// });


// this post id drives the example data
// var postId = 1;

// // logic to get new data
// var getData = function() {
//   $.ajax({
//     url: 'https://jsonplaceholder.typicode.com/posts/' + postId + '/comments',
//     success: function(data) {
//       // process your data to pull out what you plan to use to update the chart
//       // e.g. new label and a new data point
      
//       // add new label and data point to chart's underlying data structures
//       myChart.data.labels.push("Day " + postId++);
//       myChart.data.datasets[0].data.push(getRandomIntInclusive(1, 25));
//       // if (myChart.data.labels.length < 3){
//       //   // myChart.data.labels.pop()
//       //   myChart.data.labels.push("Post " + postId++);
//       // }
//       if (myChart.data.labels.length > 3){
//         // myChart.data.labels.pop()
//         myChart.data.labels.shift()
//       }
//       if (myChart.data.datasets[0].data.length > 3){
//         myChart.data.datasets[0].data.shift()
//       }
//       // re-render the chart
//       myChart.update();
//     }
//   });
// };

// get new data every 3 seconds
// setInterval(getData, 3000);
        
    </script>
</body>

</html>