
backend/__pycache__/PersonalDetails.cpython-311.pyc
/env
backend/__pycache__
(BE Request)Database Template for Residency (1).xlsx
(BE Request)Database Template for Residency.xlsx
error.xlsx
cv.html
cv.pdf
cv.docx