<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duty Hours Logs - Resident</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vuetify@2.0.10/dist/vuetify.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    
    <script src="https://cdn.jsdelivr.net/npm/babel-regenerator-runtime@6.5.0/runtime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.10/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script>
</head>
<body>
    <div id="app">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
            MCR_No:
        </label>
        <input v-model="mcr_no" 
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
            id="grid-first-name" type="text" placeholder="Input MCR No. Here">
        <br>
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
            Year:
        </label>
        <input v-model="year" 
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
            id="grid-first-name" type="text" placeholder="Input Year Here">
        <br>
        <button @click="getDutyHourLogData()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
            Get Resident's Info
        </button>
        <br>
        <button @click="reset()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded ">
            Reset
        </button>

        <v-row dense>
            <v-col cols="sm">
                <v-card class="pa-2" outlined tile raised>
                <my-line-chart v-if="loaded" :line-data="ChartConfig" :chart-options="options">
                </my-line-chart>
                </v-card>
            </v-col>

    </div>

<script>
    // Vue.component('my-bar-chart', {
    //     extends: VueChartJs.Bar,
    //     props: ['barData', 'chartOptions'],
    //     mounted() {
    //     this.renderChart(this.barData, this.chartOptions);
    //     },
    //     /*watch: {
    //     barData () {
    //         console.log('bar data changed')
    //         this.renderChart(this.barData, this.chartOptions);
    //     },
    //     chartOptions () {
    //         this.renderChart(this.barData, this.chartOptions);
    //     }
    //     }*/
    // }, {
    //     responsive: true,
    //     maintainAspectRatio: false
    // })

    Vue.component('my-line-chart', {
        extends: VueChartJs.Line,
        props: ['lineData', 'chartOptions'],
        mounted() {
        this.renderChart(this.lineData, this.chartOptions);
        }/*,
    watch:{
    lineData () {
        this.renderChart(this.lineData, this.chartOptions);
    },
    chartOptions () {
        this.renderChart(this.lineData, this.chartOptions);
    }
    } */
    }, {
        responsive: true,
        maintainAspectRatio: false
    })

    new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
        return {
            year: null,
            mcr_no: null,
            loaded: false,
            ChartConfig: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [
                {
                data: [],
                fill: false,
                backgroundColor: '#3498db',
                borderColor: 'rgba(136,136,136,0.5)',
                label: "Compliant"
                }
            ]
            },
            options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'Duty Hours Logs (Overview)'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                display: true,
                categoryPercentage: 0.5,
                scaleLabel: {
                    display: true,
                    labelString: 'Month'
                }
                }],
                yAxes: [{
                ticks : {
                max : 1,    
                min : 0
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: '% Submitted'
                }
                }]
            }
            },
            // iceCream: [],
            drawer: false,
            // selectedYear: '',
        }
        },
        mounted: function () {
            this.loaded = false
                },
        methods: {
        reset: function (){
            this.ChartConfig.datasets[0].data.length = 0
            this.loaded = false
        },
        getDutyHourLogData: async function () {

            this.status = "getting data...";

            await axios.get("http://localhost:5010/duty_hour_log/" + this.mcr_no + "/" +  this.year).then((response) => {
            // console.log(response.data)
            this.getChartData(response.data);
            this.loaded = true
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        getChartData: function (chartData) {
            console.log(chartData.data);
            console.log('break1')

            percentCompliantJan = ''

            percentCompliantFeb = ''

            percentCompliantMar = ''

            percentCompliantApr = ''

            percentCompliantMay = ''

            percentCompliantJun = ''

            percentCompliantJul = ''

            percentCompliantAug = ''

            percentCompliantSep = ''

            percentCompliantOct = ''

            percentCompliantNov = ''

            percentCompliantDec = ''

            for (var i = 0; i < chartData.data.length; i++) {

                if(('01'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantJan = chartData.data[i]['Submitted_Proportion']
                }
                else if (('02'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantFeb = chartData.data[i]['Submitted_Proportion']
                }
                else if (('03'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantMar = chartData.data[i]['Submitted_Proportion']
                }
                else if (('04'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantApr = chartData.data[i]['Submitted_Proportion']
                }
                else if (('05'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantMay = chartData.data[i]['Submitted_Proportion']
                }
                else if (('06'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantJun = chartData.data[i]['Submitted_Proportion']
                }
                else if (('07'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantJul = chartData.data[i]['Submitted_Proportion']
                }
                else if (('08'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantAug = chartData.data[i]['Submitted_Proportion']
                }
                else if (('09'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantSep = chartData.data[i]['Submitted_Proportion']
                }
                else if (('10'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantOct = chartData.data[i]['Submitted_Proportion']
                }
                else if (('11'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantNov = chartData.data[i]['Submitted_Proportion']
                }
                else if (('12'.includes(chartData.data[i]['MMYYYY'].substr(0,2)))){
                    percentCompliantDec = chartData.data[i]['Submitted_Proportion']
                }
            }


            this.ChartConfig.datasets[0].data.push(percentCompliantJan)

            this.ChartConfig.datasets[0].data.push(percentCompliantFeb)

            this.ChartConfig.datasets[0].data.push(percentCompliantMar)

            this.ChartConfig.datasets[0].data.push(percentCompliantApr)

            this.ChartConfig.datasets[0].data.push(percentCompliantMay)

            this.ChartConfig.datasets[0].data.push(percentCompliantJun)

            this.ChartConfig.datasets[0].data.push(percentCompliantJul)

            this.ChartConfig.datasets[0].data.push(percentCompliantAug)

            this.ChartConfig.datasets[0].data.push(percentCompliantSep)

            this.ChartConfig.datasets[0].data.push(percentCompliantOct)

            this.ChartConfig.datasets[0].data.push(percentCompliantNov)

            this.ChartConfig.datasets[0].data.push(percentCompliantDec)

            console.log(this.ChartConfig);

        }
        }
    });
</script>
</body>
</html>