<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../css/tailwind.css">
    <!-- ICONIFY -->
    <script src="../css/iconify-icon.min.js"></script>
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script> -->
    <!-- LOCAL VUE 2.7.14 -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- LOCAL Tabulator  -->
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script>
    <!-- ExcelJS -->
    <script src="../node_modules/exceljs/dist/exceljs.min.js"></script>
    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <!-- LOCAL Axios -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <!-- Local ChartJS -->
    <script src="../node_modules/chart.js/dist/chart.js"></script>
    <script src="../chartjs_offline/chartjs-plugin-datasource.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Testing Mon Method -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/babel-regenerator-runtime@6.5.0/runtime.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script> -->
    <!-- I need these three, thanks yinyao -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.10/dist/vuetify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script>

    <title>SingHealth</title>
</head>

<body>

    <div id="main-container">
        
        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto" style="width: 100%; overflow: hidden;">
                <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 100px;" alt="Flowbite Logo" />

                <div class="flex md:order-2">
                    <a href="homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40" height="40"></iconify-icon>
                    </a>
                    <a>
                        <iconify-icon icon="healthicons:ui-user-profile" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky" style="width: 100%; overflow: hidden;">
                <ul class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0 dark:text-white"
                            aria-current="page">Resident Profiles</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            History</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>

        <!-- Graph Goes Here -->
        <div class="container mx-auto pt-4" >

            <div id="app">

                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Academic Year (AY):
                </label>
                <input v-model="year" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Input Year Here">
                <button @click="getDidacticAttendanceData()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                    Get Didactic Attendance Info
                </button> 

                <v-row dense>
                  <v-col cols="sm">
                    <v-card class="pa-2" outlined tile raised>
                      <my-bar-chart v-if="loaded" :bar-data="ChartConfig" :chart-options="options"></my-bar-chart>
                    </v-card>
                  </v-col>
                </v-row>
            </div>

        </div>

    </div>

    <!--- JAVASCRIPT -->
    <script>

        Vue.component('my-bar-chart', {
            extends: VueChartJs.Bar,
            props: ['barData', 'chartOptions'],
            mounted() {
            this.renderChart(this.barData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })

        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data() {
            return {
                year: null,
                loaded: false,
                ChartConfig: {
                labels: ["Jul-Dec", "Jan-Jun"],
                datasets: [
                    {
                    data: [],
                    backgroundColor: '#ff6b00',
                    borderColor: 'rgba(136,136,136,0.5)',
                    label: "Compliant (%)"
                    }
                ]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Didactic Attendance (Overview)'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                    display: true,
                    categoryPercentage: 0.5,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                    }],
                    yAxes: [{
                    ticks : {
                    max : 100,    
                    min : 0
                    },
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Percentage'
                        
                    }
                    }]
                }
                },
            }
            },
            mounted: function () {
                this.loaded = false
                // this.getDidacticAttendanceData();
                },
            methods: {
                getDidacticAttendanceData: async function () {

                    this.status = "getting data...";

                    await axios.get("http://localhost:5011/didactic_attendance").then((response) => {
                    // console.log("This is responseData")
                    // console.log(response.data)
                
                    this.getChartData(response);
                    this.loaded = false
                    this.loaded = true
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                getChartData: function (chartData) {
                    // console.log("This is chartData")
                    // console.log(chartData);

                    counterCompliantJulDec = 0
                    counterCompliantJanJune = 0
                    percentCompliantJulDec = 0
                    percentCompliantJanJune = 0

                    numofJulDecEntries = 0
                    numOfJanJuneEntries = 0

                    nonCompliantResidents = []

                    arrayOfDidacticAttendanceObjects = chartData.data.data

                    for (var i = 0; i < arrayOfDidacticAttendanceObjects.length; i++) {

                        if (('JulyAugustSeptemberOctoberNovemberDecember'.includes(arrayOfDidacticAttendanceObjects[i]['Month'])) && ((arrayOfDidacticAttendanceObjects[i]['MmYyyy'].substr(-4)) == this.year)) {
                            numofJulDecEntries++
                            if (arrayOfDidacticAttendanceObjects[i]['Compliance_or_Not'] == 'Yes') {
                                counterCompliantJulDec = counterCompliantJulDec + 1;
                            }
                            else if (arrayOfDidacticAttendanceObjects[i]['Compliance_or_Not'] == 'No') {
                                nonCompliantResidents.push(arrayOfDidacticAttendanceObjects[i])
                            }
                        }

                        else if (('JanuaryFebruaryMarchAprilMayJune'.includes(arrayOfDidacticAttendanceObjects[i]['Month'])) && ((arrayOfDidacticAttendanceObjects[i]['MmYyyy'].substr(-4)) == parseInt(this.year) + 1)) {
                            numOfJanJuneEntries++
                            if (arrayOfDidacticAttendanceObjects[i]['Compliance_or_Not'] == 'Yes') {
                                counterCompliantJanJune = counterCompliantJanJune + 1;
                            }
                            else if (arrayOfDidacticAttendanceObjects[i]['Compliance_or_Not'] == 'No') {
                                nonCompliantResidents.push(arrayOfDidacticAttendanceObjects[i])
                            }
                        }

                    }
                    
                    if (counterCompliantJulDec == 0) {
                        percentCompliantJulDec = 0
                    }
                    else {
                        percentCompliantJulDec = counterCompliantJulDec/numofJulDecEntries 
                    }

                    if (counterCompliantJanJune == 0) {
                        percentCompliantJanJune = 0
                    }
                    else {
                        percentCompliantJanJune = counterCompliantJanJune/numOfJanJuneEntries 
                    }

                    // console.log("counter compliant")
                    // console.log(counterCompliantJulDec)
                    // console.log(counterCompliantJanJune)

                    // console.log("num entries")
                    // console.log(numofJulDecEntries)
                    // console.log(numOfJanJuneEntries)

                    // console.log("percentages")
                    // console.log(percentCompliantJulDec)
                    // console.log(percentCompliantJanJune)

                    this.ChartConfig.datasets[0].data.push((percentCompliantJulDec * 100).toFixed(3))
                    this.ChartConfig.datasets[0].data.push((percentCompliantJanJune * 100).toFixed(3))

                }
            }
        });
        
    </script>
</body>

</html>