<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../css/tailwind.css">
    <!-- ICONIFY -->
    <script src="../css/iconify-icon.min.js"></script>
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script> -->
    <!-- LOCAL VUE 2.7.14 -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- LOCAL Tabulator  -->
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script>
    <!-- ExcelJS -->
    <script src="../node_modules/exceljs/dist/exceljs.min.js"></script>
    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <!-- LOCAL Axios -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <!-- Local ChartJS -->
    <!-- <script src="../node_modules/chart.js/dist/chart.js"></script> -->
    <script src="../node_modules/Chart.js/dist/Chart.min.js"></script>
    <!-- Vue-Chartjs -->
    <script src="../node_modules/vue-chartjs/dist/vue-chartjs.js"></script>
    <!-- Vuetify -->
    <script src="../node_modules/vuetify/dist/vuetify.min.js"></script>
   

    <!-- Testing Mon Method -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/babel-regenerator-runtime@6.5.0/runtime.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script> -->
    <!-- I need these three, thanks yinyao -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.10/dist/vuetify.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
    <!-- <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script> -->

    <title>SingHealth</title>
</head>

<body>

    <div id="main-container">

        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto"
                style="width: 100%; overflow: hidden;">
                <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 100px;" alt="Flowbite Logo" />

                <div class="flex md:order-2">
                    <a href="homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40"
                            height="40"></iconify-icon>
                    </a>
                    <a>
                        <iconify-icon icon="healthicons:ui-user-profile" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky"
                style="width: 100%; overflow: hidden;">
                <ul
                    class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0 dark:text-white"
                            aria-current="page">Resident Profiles</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            History</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>

        <!-- Graph Goes Here -->

        <div class="container mx-auto pt-4">

            <div id="app">

                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    MCR No:
                </label>
                <input v-model="mcr_no" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Input MCR No Here">
                <button @click="activateSecondStep()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                    Next
                </button> 

                <label v-if="second_step" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 pt-3" for="grid-first-name">
                    Academic Year (AY) for Postings by Month:
                </label>
                <input v-if="second_step" v-model="year" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Input Year Here">
                <button v-if="second_step" @click="retrieveLOA(); retrievePostingsByMonth()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                    Get Resident's Info
                </button> 
                <br>
                <br>

                <div v-if="this.clicked">
                    <!-- table for LOA/PIP -->
                    <table class="table-auto">
                        <thead>
                            <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                >Leave of Absence/PIP:</p>
                            <tr>
                                <th class="border px-4 py-2 bg-orange-600">Remarks</th>
                                <th class="border px-4 py-2 bg-orange-600">Start Date</th>
                                <th class="border px-4 py-2 bg-orange-600">End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="loa in loa_records">
                                <td class="border px-4 py-2 bg-gray-300">{{ loa.LOAPIP }}</td>
                                <td class="border px-4 py-2 bg-gray-300">{{ loa.StartDate }}</td>
                                <td class="border px-4 py-2 bg-gray-300">{{ loa.EndDate }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
    
                    <!-- table for projected grad date -->
                    <table class="table-auto">
                        <thead >
                            <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                >Postings Information:</p>
                            <tr>
                                <!-- <th class="border px-4 py-2 bg-orange-600">Posting Department</th> -->
                                <th class="border px-4 py-2 bg-orange-600">Start Date</th>
                                <th class="border px-4 py-2 bg-orange-600">Projected Graduation End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border px-4 py-2 bg-gray-300">{{ history_posting_records[0].Posting_StartDate }}</td>
                                <td class="border px-4 py-2 bg-gray-300">{{ history_posting_records[history_posting_records.length - 1].Posting_EndDate }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>

                    <!-- table for posting by month -->
                    <table class="table-auto">
                        <thead>
                            <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                >Postings by Month:</p>
                            <tr>
                                <th v-for="month in months_to_show" class="border px-4 py-2 bg-orange-600">{{month}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td v-for="date in dates_to_show" class="border px-4 py-2 bg-gray-300">{{date}}</td>
                            </tr>
                            <tr>
                                <td v-for="posting in postings_to_show" class="border px-4 py-2 bg-gray-300">{{posting}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>

                </div>

                


            </div>

        </div>

    </div>

    <!--- JAVASCRIPT -->
    <script>

        new Vue({
            el: '#app',
            data: {
                localhost: "http://localhost:5011/",
                mcr_no: "M11367A",
                loa_records: [],
                history_posting_records: [],

                clicked: false,
                year: null,
                second_step: false,
                mcr_no: "",
                months_to_show: [],
                dates_to_show: [],
                postings_to_show: [],
                posting_histories: []

            },
            async mounted() {
            },
            methods: {
                retrieveLOA: async function () {
                    this.status = "getting data..."
                    this.clicked = true

                    specificURL = this.localhost + "profile/" + this.mcr_no
                    await axios.get(specificURL).then((response) => {

                        // console.log("This is responseData")
                        // console.log(response.data.data['trgExtRem_Histories'])

                        this.loa_records = response.data.data['trgExtRem_Histories']
                        this.retrievePostingHistory()
                    })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                retrievePostingHistory: async function () {

                    specificURL = this.localhost + "history_posting/" + this.mcr_no
                    await axios.get(specificURL).then((response) => {

                        // console.log("This is responseData of History Posting")

                        this.history_posting_records = response.data.data
                        // console.log(this.history_posting_records)

                    })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                retrievePostingsByMonth: async function () {
                    const monthNames = ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'];
                    let chosenYear = parseInt(this.year)
                    let nextYear = parseInt(this.year) + 1

                    for (let i = 0; i < monthNames.length; i++) {
                        // if month lies within the year chosen (jul-dec)
                        if (i == 0 || i == 1 || i == 2 || i == 3 || i == 4 || i == 5) {
                            this.months_to_show.push(monthNames[i] + "-" + chosenYear)
                        }
                        else {
                            this.months_to_show.push(monthNames[i] + "-" + nextYear)
                        }
                    }

                    this.status = "getting data..."
                    this.clicked = true

                    specificURL = "http://localhost:5011/profile/" + this.mcr_no
                    await axios.get(specificURL).then((response) => {
                    
                        // array of objects, each object is 1 posting record associated to the MCR no
                        this.posting_histories = response.data.data['posting_histories'] 

                        for (let i = 0; i < this.posting_histories.length; i++) {
                            //format of 01-Apr-2022
                            let responseStartDate = response.data.data['posting_histories'][i]['Posting_StartDate'] 
                            let responseEndDate = response.data.data['posting_histories'][i]['Posting_EndDate']

                            let postingDepartment = response.data.data['posting_histories'][i]['Posting_Department']

                            //format of Apr-2022
                            let formattedStartDate = responseStartDate.split("-")[1] + "-" + responseStartDate.split("-")[2]
                            let formattedEndDate = responseEndDate.split("-")[1] + "-" + responseEndDate.split("-")[2]

                            // if start date and end date same month
                            if (formattedStartDate == formattedEndDate) {
                                //compare formattedStartDate with months_to_show array and get the index position of where it is in months_to_show
                                
                                // if can find inside months_to_show
                                if (this.months_to_show.includes(formattedStartDate)) {
                                    let index = this.months_to_show.indexOf(formattedStartDate)
                                    this.dates_to_show[index] = responseStartDate + " > " +responseEndDate
                                    this.postings_to_show[index] = postingDepartment
                                }
                                // if can't find inside months_to_show
                                else {

                                }
                            }

                            // else if start date and end date different month (meaning more than 1 month)
                            else if (formattedStartDate != formattedEndDate) {
                                // if can find inside months_to_show
                                if (this.months_to_show.includes(formattedStartDate)) {
                                    let startIndex = this.months_to_show.indexOf(formattedStartDate)
                                    let endIndex = this.months_to_show.indexOf(formattedEndDate)

                                    for (startIndex; startIndex <= endIndex; startIndex++) {
                                        this.dates_to_show[startIndex] = responseStartDate + " > " +responseEndDate
                                        this.postings_to_show[startIndex] = postingDepartment
                                    }
                                }
                                // if can't find inside months_to_show
                                else {

                                }
                            }



                        }

                        console.log(this.dates_to_show)
                        console.log(this.postings_to_show)


                    })
                    .catch(function (error) {
                        console.log(error);
                    });       




                },
                activateSecondStep: function () {
                    this.second_step = true;
                }

            }
        })

    </script>
</body>

</html>