<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/xlsx@0.14.3/dist/xlsx.full.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>

    <!-- VUE 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Testing Mon Method -->
    <script src="https://cdn.jsdelivr.net/npm/babel-regenerator-runtime@6.5.0/runtime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.10/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script>

    <title>SingHealth</title>
</head>

<body>

    <div id="main-container">
        
        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto" style="width: 100%; overflow: hidden;">
                <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 100px;" alt="Flowbite Logo" />

                <div class="flex md:order-2">
                    <a href="homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40" height="40"></iconify-icon>
                    </a>
                    <a>
                        <iconify-icon icon="healthicons:ui-user-profile" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky" style="width: 100%; overflow: hidden;">
                <ul class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0 dark:text-white"
                            aria-current="page">Resident Profiles</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            History</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>

        <!-- Graph Goes Here -->
        <div class="container mx-auto pt-4" >

            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Programme:
            </label>

            <div id="app">
                <input v-model="programme" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Input Programme Here">

                <button @click="getExamsData()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                    Get Programme's Exam Info
                </button> 

                <v-row dense>
                  <v-col cols="sm">
                    <v-card class="pa-2 pt-5 pb-6" outlined tile raised>
                      <my-donut-chart v-if="loaded" :donut-data="ChartConfig" :chart-options="options"></my-donut-chart>
                    </v-card>
                  </v-col>
                </v-row>
            </div>

            <div id="app2">
                <v-row dense>
                  <v-col cols="sm">
                    <v-card class="pa-2 pt-5 pb-6" outlined tile raised>
                      <my-donut-chart2 v-if="loaded" :donut-data="ChartConfig" :chart-options="options"></my-donut-chart2>
                    </v-card>
                  </v-col>
                </v-row>
            </div>

            <div id="app3">
                <v-row dense>
                  <v-col cols="sm">
                    <v-card class="pa-2 pt-5 pb-6" outlined tile raised>
                      <my-donut-chart3 v-if="loaded" :donut-data="ChartConfig" :chart-options="options"></my-donut-chart3>
                    </v-card>
                  </v-col>
                </v-row>
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>


    <!--- JAVASCRIPT -->
    <script>

        //MRCP Exams Part 1
        Vue.component('my-donut-chart', {
            extends: VueChartJs.Doughnut,
            props: ['donutData', 'chartOptions'],
            mounted() {
            this.renderChart(this.donutData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })

        //MRCP Exams Part 2a
        Vue.component('my-donut-chart2', {
            extends: VueChartJs.Doughnut,
            props: ['donutData', 'chartOptions'],
            mounted() {
            this.renderChart(this.donutData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })

        //MRCP Exams PACES
        Vue.component('my-donut-chart3', {
            extends: VueChartJs.Doughnut,
            props: ['donutData', 'chartOptions'],
            mounted() {
            this.renderChart(this.donutData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })

        //MRCP Exams Part 1
        var firstInstance = new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data() {
            return {
                programme: "",
                loaded: false,
                ChartConfig: {
                labels: ["Passed (%)", "Failed (%)"],
                datasets: [
                    {
                    data: [],
                    backgroundColor: ['#ff6b00','#ffedd5'],
                    borderColor: 'rgba(136,136,136,0.5)',
                    label: "Passed?"
                    }
                ]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'MRCP Exams Part 1'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                }
                },
            }
            },
            mounted: function () {
                this.loaded = false
                // this.getExamsData();
                },
            methods: {
                getExamsData: async function () {

                    this.status = "getting data...";

                    await axios.get("http://localhost:5011/history_exam_data").then((response) => {
                    console.log("This is responseData")
                    console.log(response.data)

                    this.getChartData(response.data);
                    this.loaded = true
                    secondInstance.loaded = true
                    thirdInstance.loaded = true
                    
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },                
                getChartData: function (chartData) {
                    console.log("This is chartData")
                    console.log(chartData)

                    // console.log("should return 1st object")
                    // console.log(chartData.data[0])

                    // console.log("testing")
                    // console.log(chartData.data[0]['Programme'])
                    // console.log(chartData.data[0].Name_of_Exam)

                    console.log(chartData.data[0]['Programme'])
                    console.log(chartData.data[0].Name_of_Exam)
                    console.log(this.programme)

                    failedMRCP1Residents = []
                    failedMRCP2aResidents = []
                    failedPACESResidents = []

                    numOfMRCP1ExamEntries = 0
                    numOfMRCP1Passes = 0
                    MRCP1PercentagePassed = 0
                    MRCP1PercentageFailed = 0

                    numOfMRCP2aExamEntries = 0
                    numOfMRCP2aPasses = 0
                    MRCP2aPercentagePassed = 0
                    MRCP2aPercentageFailed = 0

                    numOfPACESExamEntries = 0
                    numOfPACESPasses = 0
                    PACESPercentagePassed = 0
                    PACESPercentageFailed = 0

                    for (var i = 0; i < chartData.data.length; i++) {
                        if (chartData.data[i]['Programme'].toLowerCase() == this.programme.toLowerCase() && chartData.data[i].Name_of_Exam == "MRCP Part 1") {
                            // console.log("reached MRCP Part 1")
                            numOfMRCP1ExamEntries++

                            if (chartData.data[i].Exam_Status == "Pass") {
                                numOfMRCP1Passes++
                            }

                            else {
                                //check if this resident has attempted again and passed
                                foundPassAttempt = false

                                for (var j = 0; j < chartData.data.length; j++) {
                                    if (chartData.data[i].MCR_No == chartData.data[j].MCR_No && chartData.data[j].Name_of_Exam == "MRCP Part 1" && chartData.data[j].Exam_Status == "Pass") {
                                        foundPassAttempt == true
                                        numOfMRCP1Passes++
                                    }
                                }   

                                if (foundPassAttempt == false) {
                                    failedMRCP1Residents.push(chartData.data[i]) //push resident object here for possible future use
                                }

                            }
                        }

                        else if (chartData.data[i]['Programme'].toLowerCase() == this.programme.toLowerCase() && chartData.data[i].Name_of_Exam == "MRCP Part 2a") {
                            // console.log("reached MRCP Part 2a")
                            numOfMRCP2aExamEntries++

                            if (chartData.data[i].Exam_Status == "Pass") {
                                numOfMRCP2aPasses++
                            }

                            else {
                                //check if this resident has attempted again and passed
                                foundPassAttempt = false

                                for (var j = 0; j < chartData.data.length; j++) {
                                    if (chartData.data[i].MCR_No == chartData.data[j].MCR_No && chartData.data[j].Name_of_Exam == "MRCP Part 2a" && chartData.data[j].Exam_Status == "Pass") {
                                        foundPassAttempt == true
                                        numOfMRCP2aPasses++
                                    }
                                }   

                                if (foundPassAttempt == false) {
                                    failedMRCP2aResidents.push(chartData.data[i]) //push resident object here for possible future use
                                }   

                            }
                        }
                        else if (chartData.data[i]['Programme'].toLowerCase() == this.programme.toLowerCase() && chartData.data[i].Name_of_Exam == "PACES") {
                            // console.log("reached PACES")
                            numOfPACESExamEntries++

                            if (chartData.data[i].Exam_Status == "Pass") {
                                numOfPACESPasses++
                            }
                            
                            else {
                                //check if this resident has attempted again and passed
                                foundPassAttempt = false

                                for (var j = 0; j < chartData.data.length; j++) {
                                    if (chartData.data[i].MCR_No == chartData.data[j].MCR_No && chartData.data[j].Name_of_Exam == "PACES" && chartData.data[j].Exam_Status == "Pass") {
                                        foundPassAttempt == true
                                        numOfPACESPasses++
                                    }
                                }   

                                if (foundPassAttempt == false) {
                                    failedPACESResidents.push(chartData.data[i]) //push resident object here for possible future use
                                }       

                            }
                        }

                    }

                    MRCP1PercentagePassed = numOfMRCP1Passes/numOfMRCP1ExamEntries
                    MRCP1PercentageFailed = 1 - MRCP1PercentagePassed

                    MRCP2aPercentagePassed = numOfMRCP2aPasses/numOfMRCP2aExamEntries
                    MRCP2aPercentageFailed = 1 - MRCP2aPercentagePassed

                    PACESPercentagePassed = numOfPACESPasses/numOfPACESExamEntries
                    PACESPercentageFailed = 1 - PACESPercentagePassed
                    
                    // console.log("number of PACES entries")
                    // console.log(numOfPACESExamEntries)

                    // console.log("number of PACES passes")
                    // console.log(numOfPACESPasses)

                    // console.log("PACES percentage passed")
                    // console.log(PACESPercentagePassed)

                    // console.log(failedPACESResidents)
                    
                    if (MRCP1PercentagePassed == 1) {
                        this.ChartConfig.datasets[0].data.push(100)
                    }
                    else {
                        this.ChartConfig.datasets[0].data.push(MRCP1PercentagePassed.toFixed(3))
                        this.ChartConfig.datasets[0].data.push(MRCP1PercentageFailed.toFixed(3))
                    }


                    if (MRCP2aPercentagePassed == 1) {
                        secondInstance.ChartConfig.datasets[0].data.push(100)
                    }
                    else {
                        secondInstance.ChartConfig.datasets[0].data.push(MRCP2aPercentagePassed.toFixed(3))
                        secondInstance.ChartConfig.datasets[0].data.push(MRCP2aPercentageFailed.toFixed(3))
                    }


                    if (PACESPercentagePassed == 1) {
                        thirdInstance.ChartConfig.datasets[0].data.push(100)
                    }
                    else {
                        thirdInstance.ChartConfig.datasets[0].data.push(PACESPercentagePassed.toFixed(3))
                        thirdInstance.ChartConfig.datasets[0].data.push(PACESPercentageFailed.toFixed(3))
                    }

                }
            }
        });

        //MRCP Exams Part 2a
        var secondInstance = new Vue({
            el: "#app2",
            vuetify: new Vuetify(),
            data() {
            return {
                programme: "",
                loaded: false,
                ChartConfig: {
                labels: ["Passed (%)", "Failed (%)"],
                datasets: [
                    {
                    data: [],
                    backgroundColor: ['#ff6b00','#ffedd5'],
                    borderColor: 'rgba(136,136,136,0.5)',
                    label: "Passed?"
                    }
                ]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'MRCP Exams Part 2a'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                }
                },
            }
            },
            mounted: function () {
                this.loaded = false
                // this.getExamsData();
                }
        });
        
        //MRCP Exams PACES
        var thirdInstance = new Vue({
            el: "#app3",
            vuetify: new Vuetify(),
            data() {
            return {
                programme: "",
                loaded: false,
                ChartConfig: {
                labels: ["Passed (%)", "Failed (%)"],
                datasets: [
                    {
                    data: [],
                    backgroundColor: ['#ff6b00','#ffedd5'],
                    borderColor: 'rgba(136,136,136,0.5)',
                    label: "Passed?"
                    }
                ]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'MRCP Exams PACES'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                }
                },
            }
            },
            mounted: function () {
                this.loaded = false
                // this.getExamsData();
                }
        });
    </script>
</body>

</html>