<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../css/tailwind.css">
    <!-- ICONIFY -->
    <script src="../css/iconify-icon.min.js"></script>
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script> -->
    <!-- LOCAL VUE 2.7.14 -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- LOCAL Tabulator  -->
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script>
    <!-- ExcelJS -->
    <script src="../node_modules/exceljs/dist/exceljs.min.js"></script>
    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <!-- LOCAL Axios -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <!-- Local ChartJS -->
    <script src="../node_modules/chart.js/dist/chart.js"></script>
    <script src="../backend/static/Chart.min.js"></script>
    <script src="../backend/static/vue-chartjs.js"></script>
    <!-- Vue-Chartjs -->
    <!-- Vuetify -->
    <script src="../node_modules/vuetify/dist/vuetify.min.js"></script>

    <!-- Testing Mon Method -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/babel-regenerator-runtime@6.5.0/runtime.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script> -->
    <!-- I need these three, thanks yinyao -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.10/dist/vuetify.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
    <!-- <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script> -->

    <title>SingHealth</title>
</head>

<body>

    <div id="main-container">
        
        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto" style="width: 100%; overflow: hidden;">
                <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 100px;" alt="Flowbite Logo" />

                <div class="flex md:order-2">
                    <a href="homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40" height="40"></iconify-icon>
                    </a>
                    <a>
                        <iconify-icon icon="healthicons:ui-user-profile" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky" style="width: 100%; overflow: hidden;">
                <ul class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0 dark:text-white"
                            aria-current="page">Resident Profiles</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            History</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>

        <!-- Graph Goes Here -->

        <div class="container mx-auto pt-4" >

            <div id="app">

                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    MCR No:
                </label>
                <input v-model="mcr_no" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Input MCR No Here">
                <button @click="retrievePostings()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                    Next
                </button> 
                <br>
                <br>
                <table class="table-auto">
                    <thead v-if="this.clicked">
                        <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" v-if="this.clicked">Postings by Month</p>
                        <tr>
                            <th v-for="month in months_to_show" class="border px-4 py-2 bg-orange-600">{{month}}</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td v-for="info in info_to_show" class="border px-4 py-2 bg-gray-300">{{ info }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

        </div>

    </div>

    <!--- JAVASCRIPT -->
    <script>
        
    new Vue({
        el: '#app',
            data: {
            mcr_no: "",
            months_to_show: [],
            posting_histories: [],
            info_to_show: [],
            clicked: false

        },
        methods: {
            retrievePostings: async function () {
                const dates = [];
                const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
                const currentDate = new Date();

                for (let i = 0; i < 12; i++) {
                    const date = new Date(currentDate.getFullYear(), currentDate.getMonth() - i, 1);
                    const formattedDate = `${monthNames[date.getMonth()]}-${date.getFullYear()}`;
                    this.months_to_show.push(formattedDate);
                }

                this.months_to_show.reverse()
                console.log(this.months_to_show)
                
                this.status = "getting data..."
                this.clicked = true

                specificURL = "http://localhost:5011/profile/" + this.mcr_no
                await axios.get(specificURL).then((response) => {

                // console.log("This is responseData")
                console.log(response.data.data['posting_histories'][0])
                
                this.posting_histories = response.data.data['posting_histories']

                outerloop: for (let i = 0; i < this.posting_histories.length; i++) {
                    //format of 01-Apr-2022
                    let responseStartDate = response.data.data['posting_histories'][i]['Posting_StartDate'] 
                    let responseEndDate = response.data.data['posting_histories'][i]['Posting_EndDate']

                    //format of Apr-2022
                    let formattedStartDate = responseStartDate.split("-")[1] + "-" + responseStartDate.split("-")[2]
                    let formattedEndDate = responseEndDate.split("-")[1] + "-" + responseEndDate.split("-")[2]

                    //loop through months to show (last 12 months on HTML)
                    innerloop: for (let j = 0; j < this.months_to_show.length; j++) {

                        //if the month and year in the response data of the resident == months to show
                        if (formattedStartDate == this.months_to_show[j]) {

                            this.info_to_show.push(responseStartDate + " to " + responseEndDate)

                            //if the responseData cuts across multiple months
                            if (responseStartDate + " to " + responseEndDate.split("-")[1] != responseStartDate + " to " + responseEndDate.split("-")[3]) {
                                //if never cross year but cross through multiple months do this
                                if (responseStartDate.split("-")[2] == responseEndDate.split("-")[2]) {
                                    for (let k = 0; k < (monthNames.indexOf((responseStartDate + " to " + responseEndDate).split("-")[3]) + 1) - (monthNames.indexOf((responseStartDate + " to " + responseEndDate).split("-")[1]) + 1); k++) {
                                    this.info_to_show.push(responseStartDate + " to " + responseEndDate)
                                    }
                                }
                                //if cross year do this
                                else {

                                    //put into variable to prevent mess
                                    let date1 = response.data.data['posting_histories'][i]['Posting_StartDate'] //format is like 05-Apr-2022
                                    let date2 = response.data.data['posting_histories'][i]['Posting_EndDate']

                                    //get the months in number format (Jan == 1, Feb == 2)
                                    let date1MonthInNumber = ((monthNames.indexOf(date1.split("-")[1])+1).toString())
                                    let date2MonthInNumber = ((monthNames.indexOf(date2.split("-")[1])+1).toString())

                                    //changing format of the startDate to all num like 05-04-2022
                                    if ((date1MonthInNumber.length == 2)) {
                                        console.log("reached here")
                                        date1MonthInNumber.toString() 
                                        formattedDate1 = date1.split("-")[0] + "-" + date1MonthInNumber + "-" + date1.split("-")[2]
                                    }
                                    else {
                                        date1MonthInNumber = "0" + date1MonthInNumber.toString() 
                                        formattedDate1 = date1.split("-")[0] + "-" + date1MonthInNumber + "-" + date1.split("-")[2]
                                    }

                                    //changing format of the endDate to all num like 05-04-2022
                                    if ((date2MonthInNumber.length == 2)) {
                                        console.log("reached here")
                                        date2MonthInNumber.toString() 
                                        formattedDate2 = date2.split("-")[0] + "-" + date2MonthInNumber + "-" + date2.split("-")[2]
                                    }
                                    else {
                                        date2MonthInNumber = "0" + date2MonthInNumber.toString() 
                                        formattedDate2 = date2.split("-")[0] + "-" + date2MonthInNumber + "-" + date2.split("-")[2]
                                    }                                 

                                    //find months difference between the 2 dates
                                    let startDateDateFormat = new Date(formattedDate1.split('-').reverse().join('-'));
                                    let endDateDateFormat = new Date(formattedDate2.split('-').reverse().join('-'));
                                    let millisecondsInMonth = 1000 * 60 * 60 * 24 * 30;
                                    let differenceInMilliseconds = endDateDateFormat - startDateDateFormat;
                                    let monthsBetweenDates = Math.floor(differenceInMilliseconds / millisecondsInMonth);

                                    //push into info_to_show array
                                    for (let l = 0; l < monthsBetweenDates; l++) {
                                    this.info_to_show.push(responseStartDate + " to " + responseEndDate)
                                    }

                                }

                                break innerloop
                                
                            }
                        }
                    
                        //if the month and year in the response data of the resident != months to show
                        else {
                            if () { 
                                this.info_to_show.push("-")
                            }

                                

                        }
                    }

                }

                })
                .catch(function (error) {
                    console.log(error);
                });            
            }
        }
      })
        
    </script>
</body>

</html>