<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../css/tailwind.css">
    <!-- ICONIFY -->
    <script src="../css/iconify-icon.min.js"></script>
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script> -->
    <!-- LOCAL VUE 2.7.14 -->
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!-- LOCAL Tabulator  -->
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script>
    <!-- ExcelJS -->
    <script src="../node_modules/exceljs/dist/exceljs.min.js"></script>
    <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <!-- LOCAL Axios -->
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <!-- Local ChartJS -->
    <script src="../node_modules/chart.js/dist/chart.js"></script>
    <script src="../chartjs_offline/chartjs-plugin-datasource.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Testing Mon Method -->
    <script src="https://cdn.jsdelivr.net/npm/babel-regenerator-runtime@6.5.0/runtime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.10/dist/vuetify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script>

    <title>SingHealth</title>
</head>

<body>

    <div id="main-container">
        
        <!-- header -->
        <div class="bg-stone-100 border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto" style="width: 100%; overflow: hidden;">
                <img src="../images/SingHealth_Logo.png" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 100px;" alt="Flowbite Logo" />

                <div class="flex md:order-2">
                    <a href="homepage.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #ff6b00;" width="40" height="40"></iconify-icon>
                    </a>
                    <a>
                        <iconify-icon icon="healthicons:ui-user-profile" style="color: #ff6b00;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-white">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky" style="width: 100%; overflow: hidden;">
                <ul class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0 dark:text-white"
                            aria-current="page">Resident Profiles</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            History</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Involvement</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Grants</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Publications</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Presentations</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">
                            Awards</a>
                    </li>
                    <li>
                        <a href="#"
                            class="lg:text-sm md:text-xs  ml-6 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-500 md:p-0">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #ff6b00;'></div>

        <!-- Graph Goes Here -->
        <div class="container mx-auto pt-4" >

            <div id="app">

                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Programme Name:
                </label>

                <input v-model="programme" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Input Programme Name Here">

                <button @click="getProcedureLogData()" class="bg-[#ea580c] hover:bg-[#292524] text-white font-bold py-2 px-4 rounded">
                    Get Resident's Info
                </button> 

                <v-row dense>
                  <v-col cols="sm">
                    <v-card class="pa-2" outlined tile raised>
                      <my-bar-chart v-if="loaded" :bar-data="ChartConfig" :chart-options="options"></my-bar-chart>
                    </v-card>
                  </v-col>
                </v-row>

            </div>

        </div>

    </div>

    <!--- JAVASCRIPT -->
    <script>

        Vue.component('my-bar-chart', {
            extends: VueChartJs.HorizontalBar,
            props: ['barData', 'chartOptions'],
            mounted() {
            this.renderChart(this.barData, this.chartOptions);
            },
        }, {
            responsive: true,
            maintainAspectRatio: false
        })

        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data() {
                return {
                loaded: false,
                ChartConfig: {
                labels: ["Jan-Jun", "Jul-Dec"],
                datasets: [
                    {
                    data: [],
                    backgroundColor: '#ff6b00',
                    borderColor: 'rgba(136,136,136,0.5)',
                    label: "Compliance Level (%)"
                    }
                ]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Procedure Log (Resident)'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                    ticks : {
                    max : 100,    
                    min : 0
                    },
                    display: true,
                    categoryPercentage: 0.5,
                    scaleLabel: {
                        display: true,
                        labelString: 'Percentage of Compliance'
                    }
                    }],
                    yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Procedure Name'
                        
                    }
                    }]
                }
                },
            }
            },
            mounted: function () {
                this.loaded = false
                },
            methods: {
                getProcedureLogData: async function () {

                    this.status = "getting data...";

                    await axios.get("http://localhost:5011/procedure_log_data").then((response) => {
                    // console.log("This is responseData")
                    // console.log(response.data)
                
                    this.getChartData(response);
                    this.loaded = false
                    this.loaded = true
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                getChartData: function (chartData) {
                    // console.log("This is chartData")
                    // console.log(chartData);
                    let array_of_logs = chartData.data.data

                    let gastro_array = []
                    let renal_array = []
                    let internal_array = []

                    // go through each and every procedure log
                    // split them into 3 arrays (gastro, renal and internal)
                    for (let i = 0; i < array_of_logs.length; i++) {

                        if (array_of_logs[i]['Programme'] == "Gastroenterology") {
                            gastro_array.push(array_of_logs[i])
                        }

                        else if (array_of_logs[i]['Programme'] == "Renal Medicine") {
                            renal_array.push(array_of_logs[i])
                        }

                        else if (array_of_logs[i]['Programme'] == "Internal Medicine") {
                            internal_array.push(array_of_logs[i])
                        }

                    }

                    // if user chose Gastroenterology 
                    if (this.programme == "Gastroenterology") {

                        console.log("reached here")
                        const Gastro = ["Gastroscopy (OGD)", "Gastroscopy (OGD) with biopsy", "Gastroscopy (OGD) with non-variceal hemostasis; not actively bleeding","Gastroscopy (OGD) with non-variceal hemostasis; actively bleeding", "Colonoscopy with non-variceal hemostasis; not actively bleeding", "Colonoscopy with non-variceal hemostasis; actively bleeding","Colonoscopy", "Colonoscopy with biopsy", "Colonoscopy with polypectomy","Abdominal paracentesis", "Capsule endoscopy", "Percutaneous Endoscopic Gastrostomy (PEG)","Gastroscopy with variceal hemostasis; active bleeding", "Gastroscopy with variceal hemostasis; not actively bleeding", "Gastroscopy with variceal ligation; elective eradication","Liver biopsy", "Esophageal dilatation", "Luminal Stenting","Endoscopic mucosal resection (EMR) / Endoscopic submucosal dissection (ESD)", "Endoscopic Retrograde and Cholangiocpancreatography (ERCP)", "Endoscopic ultrasound", "Esophageal motility / pH studies"]
                        this.ChartConfig.labels = Gastro
                        this.options.title.text = "Procedure Log (Gastro Programme)"

                        nonCompliantResidents = []

                        GastroOGDPlusGastroOGDWithBiopsy = []
                        TotalDoneGastroOGDPlusGastroOGDWithBiopsy = 0
                        CountGastroOGDPlusGastroOGDWithBiopsy = 0
                        NumComplianceGastroOGDPlusGastroOGDWithBiopsy = 0
                
                        GastroOGDPlusColon = []
                        TotalDoneGastroOGDPlusColon = 0
                        CountGastroOGDPlusColon = 0
                        NumComplianceGastroOGDPlusColon = 0
                        GastroOGDPlusColonAdditionalReqNum = 0


                        ColonoscopyPlusColonoscopyWithBiopsy = []
                        TotalDoneColonoscopyPlusColonoscopyWithBiopsy = 0
                        CountColonoscopyPlusColonoscopyWithBiopsy = 0
                        NumComplianceColonoscopyPlusColonoscopyWithBiopsy = 0

                        ColonoscopyWithPolypectomy = []
                        TotalDoneColonoscopyWithPolypectomy = 0
                        CountColonoscopyWithPolypectomy = 0
                        NumComplianceColonoscopyWithPolypectomy = 0

                        AbdominalParacentesis = []
                        TotalDoneAbdominalParacentesis = 0
                        CountAbdominalParacentesis = 0
                        NumComplianceAbdominalParacentesis = 0

                        CapsuleEndoscopy = []
                        TotalDoneCapsuleEndoscopy = 0
                        CountCapsuleEndoscopy = 0
                        NumComplianceCapsuleEndoscopy = 0

                        Peg = []
                        TotalDonePeg = 0
                        CountPeg = 0
                        NumCompliancePeg = 0

                        GastroVaricealHemoPlusLigation = []
                        TotalDoneGastroVaricealHemoPlusLigation = 0
                        CountGastroVaricealHemoPlusLigation = 0
                        NumComplianceGastroVaricealHemoPlusLigation = 0

                        LiverBiopsy = []
                        TotalDoneLiverBiopsy = 0
                        CountLiverBiopsy = 0
                        NumComplianceLiverBiopsy = 0

                        EsophagealDilatationPlusLuminalStenting = []
                        TotalDoneEsophagealDilatationPlusLuminalStenting = 0
                        CountEsophagealDilatationPlusLuminalStenting = 0
                        NumComplianceEsophagealDilatationPlusLuminalStenting = 0

                        EmrPlusEsd = []
                        TotalDoneEmrPlusEsd = 0
                        CountEmrPlusEsd = 0
                        NumComplianceEmrPlusEsd = 0

                        Ercp = []
                        TotalDoneErcp = 0
                        CountErcp = 0
                        NumComplianceErcp = 0

                        EndoscopicUltrasound = []
                        TotalDoneEndoscopicUltrasound = 0
                        CountEndoscopicUltrasound = 0
                        NumComplianceEndoscopicUltrasound = 0

                        EsophagealMotilityPlusPh = []
                        TotalDoneEsophagealMotilityPlusPh = 0
                        CountEsophagealMotilityPlusPh = 0
                        NumComplianceEsophagealMotilityPlusPh = 0

                        const groups = []

                        // go through each Gastro log
                        for (let j = 0; j < gastro_array.length; j++) {

                            gastro_array[j] //each gastro log
                            let procedure_name = gastro_array[j]['Procedure_Name'] // each gastro log's procedure name
                            // if name matches, push into respective procedure array
                            if (procedure_name == Gastro[0] || procedure_name == Gastro[1]) {
                                GastroOGDPlusGastroOGDWithBiopsy.push(gastro_array[j]) // could have multiple residents in this array
                            }

                            else if (procedure_name == Gastro[2] || procedure_name == Gastro[3] || procedure_name == Gastro[4] || procedure_name == Gastro[5]) {
                                GastroOGDPlusColon.push(gastro_array[j]) // could have multiple residents in this array
                            }

                            else if (procedure_name == Gastro[6] || procedure_name == Gastro[7]) {
                                ColonoscopyPlusColonoscopyWithBiopsy.push(gastro_array[j]) // could have multiple residents in this array
                            }

                            else if (procedure_name == Gastro[8]) {
                                ColonoscopyWithPolypectomy.push(gastro_array[j]) // could have multiple residents in this array
                            }

                            else if (procedure_name == Gastro[9]) {
                                AbdominalParacentesis.push(gastro_array[j]) // could have multiple residents in this array
                            }

                            else if (procedure_name == Gastro[10]) {
                                CapsuleEndoscopy.push(gastro_array[j]) // could have multiple residents in this array
                            }

                            else if (procedure_name == Gastro[11]) {
                                Peg.push(gastro_array[j])
                            }

                            else if (procedure_name == Gastro[12] || procedure_name == Gastro[13] || procedure_name == Gastro[14]) {
                                GastroVaricealHemoPlusLigation.push(gastro_array[j])
                            }

                            else if (procedure_name == Gastro[15]) {
                                LiverBiopsy.push(gastro_array[j])
                            }

                            else if (procedure_name == Gastro[16] || procedure_name == Gastro[17]) {
                                EsophagealDilatationPlusLuminalStenting.push(gastro_array[j])
                            }

                            else if (procedure_name == Gastro[18]) {
                                EmrPlusEsd.push(gastro_array[j])
                            }

                            else if (procedure_name == Gastro[19]) {
                                Ercp.push(gastro_array[j])
                            }

                            else if (procedure_name == Gastro[20]) {
                                EndoscopicUltrasound.push(gastro_array[j])
                            }
                            
                            else if (procedure_name == Gastro[21]) {
                                EsophagealMotilityPlusPh.push(gastro_array[j])
                            }

                        }
                        
                        // grouped1 contains GastroOGD plus GastroOGDWithBiopsy records, split into different residents
                        let grouped1 = {};
                        for (let i=0; i<GastroOGDPlusGastroOGDWithBiopsy.length; i++) {
                            let p = GastroOGDPlusGastroOGDWithBiopsy[i]['MCR_No'];
                            if (!grouped1[p]) { grouped1[p] = []; }
                            grouped1[p].push(GastroOGDPlusGastroOGDWithBiopsy[i]);
                        }

                        CountGastroOGDPlusGastroOGDWithBiopsy = Object.keys(grouped1).length

                        // for each resident in grouped1,
                        for (const key in grouped1) {
                            const value = grouped1[key] // the [?]array containing the resident's procedure info

                            TotalDoneGastroOGDPlusGastroOGDWithBiopsy = 0

                            for (let i = 0; i < value.length; i++) {
                                let procedure_obj = value[i] // the object containing the resident's procedure info
                                TotalDoneGastroOGDPlusGastroOGDWithBiopsy = TotalDoneGastroOGDPlusGastroOGDWithBiopsy + parseInt(procedure_obj['Performed']) // total done for specific resident
                            }

                            if (TotalDoneGastroOGDPlusGastroOGDWithBiopsy >= 300) { // if comply
                                    NumComplianceGastroOGDPlusGastroOGDWithBiopsy++
                            }

                            else { // prevents chart.js from inserting data into wrong position
                                nonCompliantResidents.push(value)
                            }

                        }

                        if (NumComplianceGastroOGDPlusGastroOGDWithBiopsy != 0) {
                            this.ChartConfig.datasets[0].data.push((NumComplianceGastroOGDPlusGastroOGDWithBiopsy/CountGastroOGDPlusGastroOGDWithBiopsy*100).toFixed(3))
                            this.ChartConfig.datasets[0].data.push((NumComplianceGastroOGDPlusGastroOGDWithBiopsy/CountGastroOGDPlusGastroOGDWithBiopsy*100).toFixed(3))
                        }
                        else {
                            this.ChartConfig.datasets[0].data.push((0).toFixed(3))
                            this.ChartConfig.datasets[0].data.push((0).toFixed(3))
                        }
                        

                        // grouped2 contains GastroOGD plus Colon records, split into different residents
                        let grouped2 = {};
                        for (let i=0; i<GastroOGDPlusColon.length; i++) {
                            let p = GastroOGDPlusColon[i]['MCR_No'];
                            if (!grouped2[p]) { grouped2[p] = []; }
                            grouped2[p].push(GastroOGDPlusColon[i]);
                        }

                        CountGastroOGDPlusColon = Object.keys(grouped2).length

                        // for each resident in grouped2,
                        for (const key in grouped2) {
                            const value = grouped2[key] // the [?]array containing the resident's procedure info
                            console.log(value)

                            TotalDoneGastroOGDPlusColon = 0 //continue from below here
                            GastroOGDPlusColonAdditionalReqNum = 0

                            for (let i = 0; i < value.length; i++) {
                                let procedure_obj = value[i] // the object containing the resident's procedure info
                                TotalDoneGastroOGDPlusColon = TotalDoneGastroOGDPlusColon + parseInt(procedure_obj['Performed']) // total done for specific resident
                            }

                            for (let i = 0; i < value.length; i++) { // preparation for checking additional requirement
                                let procedure_obj = value[i] // the object containing the resident's procedure info
                                if (value[i]['Procedure_Name'] == "Gastroscopy (OGD) with non-variceal hemostasis; actively bleeding" || value[i]['Procedure_Name'] == "Colonoscopy with non-variceal hemostasis; actively bleeding") {
                                    GastroOGDPlusColonAdditionalReqNum = GastroOGDPlusColonAdditionalReqNum + parseInt(procedure_obj['Performed'])
                                }
                            }

                            if (TotalDoneGastroOGDPlusColon >= 20 && GastroOGDPlusColonAdditionalReqNum >= 10) { // if comply
                                    console.log("triggered here")
                                    NumComplianceGastroOGDPlusColon++
                            }

                            else {
                                nonCompliantResidents.push(value)
                            }

                        }      
                        
                        if (NumComplianceGastroOGDPlusColon != 0) {
                            this.ChartConfig.datasets[0].data.push((NumComplianceGastroOGDPlusColon/CountGastroOGDPlusColon*100).toFixed(3))
                            this.ChartConfig.datasets[0].data.push((NumComplianceGastroOGDPlusColon/CountGastroOGDPlusColon*100).toFixed(3))
                            this.ChartConfig.datasets[0].data.push((NumComplianceGastroOGDPlusColon/CountGastroOGDPlusColon*100).toFixed(3))
                            this.ChartConfig.datasets[0].data.push((NumComplianceGastroOGDPlusColon/CountGastroOGDPlusColon*100).toFixed(3))
                        }
                        else { // prevents chart.js from inserting data into wrong position
                            this.ChartConfig.datasets[0].data.push((0).toFixed(3))
                            this.ChartConfig.datasets[0].data.push((0).toFixed(3))
                            this.ChartConfig.datasets[0].data.push((0).toFixed(3))
                            this.ChartConfig.datasets[0].data.push((0).toFixed(3))
                        }
                        

                        // grouped3 contains Colonoscopy plus ColonoscopyWithBiopsy records, split into different residents
                        let grouped3 = {};
                        for (let i=0; i<ColonoscopyPlusColonoscopyWithBiopsy.length; i++) {
                            let p = ColonoscopyPlusColonoscopyWithBiopsy[i]['MCR_No'];
                            if (!grouped3[p]) { grouped3[p] = []; }
                            grouped3[p].push(ColonoscopyPlusColonoscopyWithBiopsy[i]);
                        }

                        // grouped4 contains Colonoscopy with Polypectomy records, split into different residents
                        let grouped4 = {};
                        for (let i=0; i<ColonoscopyWithPolypectomy.length; i++) {
                            let p = ColonoscopyWithPolypectomy[i]['MCR_No'];
                            if (!grouped4[p]) { grouped4[p] = []; }
                            grouped4[p].push(ColonoscopyWithPolypectomy[i]);
                        }

                        // grouped5 contains Abdominal Paracentesis records, split into different residents
                        let grouped5 = {};
                        for (let i=0; i<AbdominalParacentesis.length; i++) {
                            let p = AbdominalParacentesis[i]['MCR_No'];
                            if (!grouped5[p]) { grouped5[p] = []; }
                            grouped5[p].push(AbdominalParacentesis[i]);
                        }

                        // grouped6 contains Capsule Endoscopy records, split into different residents
                        let grouped6 = {};
                        for (let i=0; i<CapsuleEndoscopy.length; i++) {
                            let p = CapsuleEndoscopy[i]['MCR_No'];
                            if (!grouped6[p]) { grouped6[p] = []; }
                            grouped6[p].push(CapsuleEndoscopy[i]);
                        }

                        // grouped7 contains Peg records, split into different residents
                        let grouped7 = {};
                        for (let i=0; i<Peg.length; i++) {
                            let p = Peg[i]['MCR_No'];
                            if (!grouped7[p]) { grouped7[p] = []; }
                            grouped7[p].push(Peg[i]);
                        }

                        // grouped8 contains Gastro Variceal Hemo plus Ligation records, split into different residents
                        let grouped8 = {};
                        for (let i=0; i<GastroVaricealHemoPlusLigation.length; i++) {
                            let p = GastroVaricealHemoPlusLigation[i]['MCR_No'];
                            if (!grouped8[p]) { grouped8[p] = []; }
                            grouped8[p].push(GastroVaricealHemoPlusLigation[i]);
                        }

                        // grouped9 contains Liver Biopsy records, split into different residents
                        let grouped9 = {};
                        for (let i=0; i<LiverBiopsy.length; i++) {
                            let p = LiverBiopsy[i]['MCR_No'];
                            if (!grouped9[p]) { grouped9[p] = []; }
                            grouped9[p].push(LiverBiopsy[i]);
                        }
                        
                        // grouped10 contains Esophageal Dilatation plus Luminal Stenting records, split into different residents
                        let grouped10 = {};
                        for (let i=0; i<EsophagealDilatationPlusLuminalStenting.length; i++) {
                            let p = EsophagealDilatationPlusLuminalStenting[i]['MCR_No'];
                            if (!grouped10[p]) { grouped10[p] = []; }
                            grouped10[p].push(EsophagealDilatationPlusLuminalStenting[i]);
                        }
                        
                        // grouped11 contains Emr plus Esd records, split into different residents
                        let grouped11 = {};
                        for (let i=0; i<EmrPlusEsd.length; i++) {
                            let p = EmrPlusEsd[i]['MCR_No'];
                            if (!grouped11[p]) { grouped11[p] = []; }
                            grouped11[p].push(EmrPlusEsd[i]);
                        }

                        // grouped12 contains Ercp records, split into different residents
                        let grouped12 = {};
                        for (let i=0; i<Ercp.length; i++) {
                            let p = Ercp[i]['MCR_No'];
                            if (!grouped12[p]) { grouped12[p] = []; }
                            grouped12[p].push(Ercp[i]);
                        }

                        // grouped13 contains EndoscopicUltrasound records, split into different residents
                        let grouped13 = {};
                        for (let i=0; i<EndoscopicUltrasound.length; i++) {
                            let p = EndoscopicUltrasound[i]['MCR_No'];
                            if (!grouped13[p]) { grouped13[p] = []; }
                            grouped13[p].push(EndoscopicUltrasound[i]);
                        }

                        // grouped14 contains EsophagealMotility plus Ph records, split into different residents
                        let grouped14 = {};
                        for (let i=0; i<EsophagealMotilityPlusPh.length; i++) {
                            let p = EsophagealMotilityPlusPh[i]['MCR_No'];
                            if (!grouped14[p]) { grouped14[p] = []; }
                            grouped14[p].push(EsophagealMotilityPlusPh[i]);
                        }



                    }

                    // if user chose Renal Medicine 
                    else if (this.programme == "Renal Medicine") {
                        // do something
                    }

                    // if user chose Internal Medicine 
                    else if (this.programme == "Internal Medicine") {
                        // do something
                    }

                    // console.log(gastro_array)



                    // if () {
                        
                    // }

                    const Gastro = ["Gastroscopy (OGD)", "Gastroscopy (OGD) with biopsy", "Gastroscopy (OGD) with non-variceal hemostasis; not actively bleeding","Gastroscopy (OGD) with non-variceal hemostasis; actively bleeding", "Colonoscopy with non-variceal hemostasis; not actively bleeding", "Colonoscopy with non-variceal hemostasis; actively bleeding","Colonoscopy", "Colonoscopy with biopsy", "Colonoscopy with polypectomy","Abdominal paracentesis", "Capsule endoscopy", "Percutaneous Endoscopic Gastrostomy (PEG)","Gastroscopy with variceal hemostasis; active bleeding", "Gastroscopy with variceal hemostasis; not actively bleeding", "Gastroscopy with variceal ligation; elective eradication","Liver biopsy", "Esophageal dilatation", "Luminal Stenting","Endoscopic mucosal resection (EMR) / Endoscopic submucosal dissection (ESD)", "Endoscopic Retrograde and Cholangiocpancreatography (ERCP)", "Endoscopic ultrasound", "Esophageal motility / pH studies"]

                    GastroCompliantOrNot = []

                    totalGastroOGD = 0


                }
            }
        });
        
    </script>
</body>

</html>