<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>

        <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <!-- <link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" /> -->
    <!-- Tailwind -->
    <!-- <link rel="stylesheet" href="../css/tailwind.css"> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="{{url_for('static', filename='tailwindcss.4')}}" ></script>
    <!-- ICONIFY -->
    <!-- <script src="../css/iconify-icon.min.js"></script> -->
    <!-- LOCAL VUE 2.7.14 -->
    <!-- <script src="../node_modules/vue/dist/vue.js"></script> -->
    <!-- LOCAL Tabulator  -->
    <!-- <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.css" rel="stylesheet"> -->
    <!-- <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.js"></script> -->
    <!-- ExcelJS -->
    <!-- <script src="../node_modules/exceljs/dist/exceljs.min.js"></script> -->
    <!-- <script src="../node_modules/xlsx/dist/xlsx.full.min.js"></script> -->
    <!-- LOCAL Axios -->
    <!-- <script src="../node_modules/axios/dist/axios.min.js"></script> -->

    <style type="text/tailwindcss">
        @layer utilities {
        .content-auto {
        content-visibility: auto;
        }
    }
    </style>


</head>
<body>
    <div id="errorpage" >
        <main class="h-screen w-full flex flex-col justify-center items-center bg-[#1A2238]">
            <h1 class="text-9xl font-extrabold text-white tracking-widest">429</h1>
            <div class="bg-[#FF6A3D] px-2 text-lg rounded rotate-12 absolute">
                Too Many Requests
            </div>
            <div class=" bg-orange-500 hover:bg-orange-700 text-white py-2 px-4 rounded">
                <p>Number of requests allowed: {{request_limit.limit}}</p>
                <p>Please check and modify .env file</p>
            </div>
        </main>
    </div>
</body>
</html>