<head>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script> -->
    <!-- <script src="%% url_for('static', filename='/static/vue.js') %%"></script> -->
                
    <!-- INSTALLATIONS -->
    <!-- flowbite -->
    <link href="{{ url_for('static', filename='flowbite.min.css') }}" rel="stylesheet">
    <!-- Tailwind -->
    <script type="text/javascript" src="{{url_for('static', filename='tailwindcss.4')}}"></script>
    <!-- ICONIFY -->
    <script type="text/javascript" src="{{url_for('static', filename='iconify-icon.min.js')}}"></script>
    <!-- VUE 2 -->
    <!-- <script type="text/javascript" src="{{url_for('static', filename='vue.js')}}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='axios.min.js')}}"></script>
    <!-- ExcelJS -->
    <script type="text/javascript" src="{{url_for('static', filename='xlsx.full.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='exceljs.min.js')}}"></script>
    <!-- Tabulator  -->
    <!-- LOCAL Tabulator  -->
    <link href="{{ url_for('static', filename='tabulator_semanticui.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static', filename='tabulator.js')}}"></script>
    <!-- LOCAL Axios -->
    <script type="text/javascript" src="{{url_for('static', filename='axios.min.js')}}"></script>
    <!-- LUXON js-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script> -->
    
</head>
<body>
<div id="app">
    <p>hellooo</p>
    <p>[[message]]</p>

    <p class="underline underline-offset-8 font-bold text-lg mt-10">Personal Details</p>

            <table class="w-full text-sm text-left text-blue-100 dark:text-blue-100 my-5">
                <!-- COLUMN NAMES -->
                <thead class="text-xs text-white bg-orange-500">
                    <tr></tr>
                </thead>
                <tbody>
                    <tr class="border border-black" v-for="(value,key) in profile_data[0]">
                        <td class="w-2/5 text-center bg-orange-300 border-slate-700 px-1 py-4 font-medium text-black"
                            >
                            <h1>[[key]]</h1>
                        </td>
                        <!-- bg-orange-100 -->
                        <td class=" border-slate-700 flex text-black items-center px-6 py-4">
                            <h1>[[value]]</h1>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="underline underline-offset-8 font-bold text-lg mt-10">SMC and Employer Details</p>

            <table class="w-full text-sm text-left text-blue-100 dark:text-blue-100 my-5">
                <!-- COLUMN NAMES -->
                <thead class="text-xs text-white bg-orange-500">
                    <tr></tr>
                </thead>
                <tbody>
                    <tr class="border border-black" v-for="(value,key) in employer_details[0]">
                        <td class="w-2/5 text-center bg-orange-300 border-slate-700 px-1 py-4 font-medium text-black"
                            >
                            <h1>[[key]]</h1>
                        </td>
                        <!-- bg-orange-100 -->
                        <td class=" border-slate-700 flex text-black items-center px-6 py-4">
                            <h1>[[value]]</h1>
                        </td>
                    </tr>
                </tbody>
            </table>


            Table 3
            <table class="w-full text-left text-blue-100 dark:text-blue-100 my-5">
                <!-- COLUMN NAMES -->
                <thead class="text-md text-white bg-orange-500">
                    <tr>
                        <th>Specialty Programme</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr class="border border-black" v-for="item in profile_data_original">
                        <td class="w-2/5 text-center bg-orange-300 border-slate-700 px-1 py-4 font-medium text-black"
                            >
                            <p>[[item.personaldetails.Programme]]</p>
                        </td>
                        <td class=" border-slate-700 flex text-black items-center px-6 py-4">
                            <h1></h1>
                        </td>
                        <td class=" border-slate-700 flex text-black items-center px-6 py-4">
                            <h1></h1>
                        </td>
                    </tr>
                    <tr class="border border-black" v-for="item in profile_data_original">
                        <td class="w-2/5 text-center bg-orange-300 border-slate-700 px-1 py-4 font-medium text-black"
                            >
                            <p>[[item.personaldetails.Programme]]</p>
                        </td>
                        <td class=" border-slate-700 flex text-black items-center px-6 py-4">
                            <h1></h1>
                        </td>
                        <td class=" border-slate-700 flex text-black items-center px-6 py-4">
                            <h1></h1>
                        </td>
                    </tr>
                </tbody>
            </table>

            
</div>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script>
new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
    message: 'Hello Vue.js!',
    personal_details_fields: [],
    fields_display: [],
    personal_details_datas: [],
    employee_id_values: [],
    programme_values: [],
    file: "",
    profile_data_original: [],
    profile_data: [],
    val: " ",
    contact_details: [],
    employer_details: []
    
  },
  mounted: async function () {
            console.log("mounting")
            const queryString = window.location.search;
            // console.log("this is the mcr_no:", queryString.substring(8))
            const API_URL_1_old = 'http://127.0.0.1:5011/profile/M65889A';
            const API_URL_1 = 'http://127.0.0.1:5011/profile/' + queryString.substring(8);

            const apiCalls = [
                axios.get(API_URL_1_old),
                // axios.get(API_URL_2),
            ];
            let personalProfile = {}
            Promise.all(apiCalls)
                .then(responses => {
                    personalProfile = responses[0].data
                    console.log("personalProfile: ", personalProfile)
                    this.profile_data_original.push(responses[0].data.data);
                    console.log(this.profile_data_original)
                    let object = responses[0].data.data.personaldetails

                    picked = (({ Staff_Name, Nationality, Date_of_Birth, Gender, BCLS_Expiry_Date, ACLS_Expiry_Date }) => 
                    ({ Staff_Name, Nationality, Date_of_Birth, Gender, BCLS_Expiry_Date, ACLS_Expiry_Date }))(object);
                    this.profile_data.push(picked)

                    picked = (({ MCR_No,Registration_Type, Employment_Status }) => 
                    ({ MCR_No,Registration_Type, Employment_Status }))(object);
                    this.employer_details.push(picked)
                    
                    picked = (({ House_Blk_No, Street, Building_Name, Unit_No, Postal_Code, Contact_No_Personal, Contact_No_Work, Email_Official, Email_Personal }) => 
                    ({ House_Blk_No, Street, Building_Name, Unit_No, Postal_Code, Contact_No_Personal, Contact_No_Work, Email_Official, Email_Personal }))(object);
                    this.contact_details.push(picked)
                })
                .catch(error => {
                    console.error(error);
                });
                
            // this.profile_data = personalProfile;
            console.log("profile: ", this.profile_data);
        },
})
</script>
</body>